<!DOCTYPE html>
<html lang="zh">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <title>成绩录入</title>
    <link rel="shortcut icon" type="image/x-icon" href="static/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <link rel="stylesheet" type="text/css" href="static/css/materialdesignicons.min.css">
    <link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="static/js/bootstrap-multitabs/multitabs.min.css">
    <link rel="stylesheet" type="text/css" href="static/js/jquery-confirm/jquery-confirm.min.css">
    <link rel="stylesheet" type="text/css" href="static/css/animate.min.css">
    <link rel="stylesheet" type="text/css" href="static/css/style.min.css">

</head>
<style>
    /* 默认的搜索框 */
    .lyear-search {
        position: relative;
        z-index: 0;
        display: -webkit-inline-box;
        display: inline-flex;
    }

    .lyear-search input {
        width: 300px;
        padding-left: 35px;
        -webkit-transition: .5s;
        transition: .5s;
    }

    #btn_delete {
        margin-left: 10px;
    }

</style>
<body>

<!--页面主要内容-->

<div class="container-fluid p-t-15">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div id="toolbar" class="toolbar-btn-action">
                        <div class="row">
                            <div class="col-md-6">
                                <!-- 新增和批量删除按钮 -->
                                <button id="btn_add" type="button" class="btn btn-info" data-toggle="modal"
                                        data-target="#exampleModalChange">
                                    <span class="mdi mdi-plus" aria-hidden="true"></span>新增
                                </button>
                                <button id="btn_delete" type="button" class="btn btn-danger">
                                    <span class="mdi mdi-window-close" aria-hidden="true"></span>批量删除
                                </button>
                            </div>
                            <div class="col-md-6 text-right search-group">
                                <!-- 搜索按钮和输入框 -->
                                <div class="form-group">
                                    <form class="lyear-search lyear-search-left lyear-search-rounder">
                                        <div class="input-group">

                                            <label for="course-name-query" style="margin-top: 5px">课程名字: </label>
                                            <select class="form-control" id="course-name-query"
                                                    style="width: 400px; margin-left: 20px;margin-right: 20px;">
                                            </select>
                                            <div class="input-group-btn">
                                                <button id="btn_search" type="button" class="btn btn-success mr-2">
                                                    <i class="mdi mdi-magnify"></i>搜索

                                                </button>
                                                <a class="btn btn-default reset-btn"><i class="mdi mdi-restore"></i>重置</a>
                                            </div>

                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!--这里是模拟一个弹出框添加条目-->
                        <div class="modal fade" id="exampleModalChange" tabindex="-1" role="dialog"
                             aria-labelledby="exampleModalChangeLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h6 class="modal-add-title" id="exampleModalChangeTitle">添加条目</h6>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form>
                                            <div class="form-group">
                                                <label for="course-name">课程名字</label>
                                                <select class="form-control" id="course-name">
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label for="course-student-name">学生姓名</label>
                                                <select class="form-control" id="course-student-name">
                                                </select>
                                            </div>

                                            <div class="form-group">
                                                <label for="achievement-add-score" class="col-form-label">成绩</label>
                                                <input type="text" class="form-control" id="achievement-add-score"
                                                       maxlength="3"
                                                       placeholder="请输入成绩分数">
                                            </div>

                                            <div id="error_message1" style="color: red"></div>


                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭
                                        </button>
                                        <button type="button" id="btn-add" class="btn btn-primary">保存</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--这里是一个编辑条目的模态框-->
                        <div class="modal fade" id="exampleModalEdit" tabindex="-1" role="dialog"
                             aria-labelledby="exampleModalChangeLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h6 class="modal-edit-title" id="exampleModalEditTitle"></h6>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form>
                                            <div class="form-group">
                                                <label for="achievement-edit-name" class="col-form-label">课程名</label>
                                                <input type="text" class="form-control" id="achievement-edit-name">
                                            </div>
                                            <div class="form-group">
                                                <label for="achievement-edit-studentName"
                                                       class="col-form-label">学生姓名</label>
                                                <input type="text" class="form-control"
                                                       id="achievement-edit-studentName">
                                            </div>
                                            <div class="form-group">
                                                <label for="achievement-edit-score" class="col-form-label">成绩</label>
                                                <input type="text" class="form-control" id="achievement-edit-score">
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消
                                        </button>
                                        <button type="button" id="btn-edit-save" class="btn btn-primary">保存
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                    <table id="tb_departments">
                        <thead class="thead-dark">
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!--End 页面主要内容-->

<script type="text/javascript" src="static/js/jquery.min.js"></script>
<script type="text/javascript" src="static/js/popper.min.js"></script>
<script type="text/javascript" src="static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="static/js/perfect-scrollbar.min.js"></script>
<script type="text/javascript" src="static/js/jquery.cookie.min.js"></script>
<script type="text/javascript" src="static/js/bootstrap-notify.min.js"></script>
<script type="text/javascript" src="static/js/bootstrap-multitabs/multitabs.min.js"></script>
<script type="text/javascript" src="static/js/jquery.cookie.min.js"></script>
<script type="text/javascript" src="static/js/index.min.js"></script>
<script type="text/javascript" src="static/js/main.min.js"></script>
<script type="text/javascript" src="static/js/Chart.min.js"></script>
<script type="text/javascript" src="static/js/jquery.cookie.min.js"></script>
<script type="text/javascript" src="static/js/bootstrap-maxlength/bootstrap-maxlength.min.js"></script>
<script type="text/javascript" src="static/js/jquery-tagsinput/jquery.tagsinput.min.js"></script>
<script type="text/javascript" src="static/js/jquery-confirm/jquery-confirm.min.js"></script>
<script type="text/javascript" src="static/js/jquery-confirm/jquery-confirm.min.js"></script>
<script type="text/javascript" src="static/js/bootstrap-table/bootstrap-table.min.js"></script>
<script type="text/javascript" src="static/js/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
<script type="text/javascript" src="static/js/jquery-treegrid/jquery.treegrid.min.js"></script>
<script type="text/javascript"
        src="static/js/bootstrap-table/extensions/treegrid/bootstrap-table-treegrid.min.js"></script>
<script type="text/javascript" src="static/js/myutils.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        accessControl();
        // 获取课程名填充添加成绩模态框下拉菜单
        sendPostRequest('/course', '', function (data) {
            var select = $('#course-name-query');
            $.each(data, function (i, item) {
                select.append($('<option>', {
                    value: item.id,
                    text: item.name
                }));
            });
        }, function () {
            console.log('Error loading course');
        });
        // 在页面加载完成后，从模板上下文中获取 teacher_infos 变量
        var achievementInfos = {{achievement_infos | tojson}};
        // 向后端获取数据填充table
        $('#tb_departments').bootstrapTable({
            data: achievementInfos,
            classes: 'table table-bordered table-hover table-striped',
            dataType: 'jsonp',            // 因为本示例中是跨域的调用,所以涉及到ajax都采用jsonp,
            uniqueId: 'id',
            idField: 'id',              // 每行的唯一标识字段
            toolbar: '#toolbar',        // 工具按钮容器
            clickToSelect: false,       // 是否启用点击选中行
            striped: true,              // 是否显示行间隔色
            showColumns: true,         // 是否显示所有的列
            showRefresh: false,         // 是否显示刷新按钮,这个按钮这一般是在客户端分页的情况下使用
            showToggle: false,          // 是否显示详细视图和列表视图的切换按钮(clickToSelect同时设置为true时点击会报错)
            cache: false,               // 不缓存数据
            pagination: true,                    // 是否显示分页
            sortOrder: "asc",                    // 排序方式
            // 传递参数
            queryParams: function (params) {
                var temp = {
                    limit: params.limit,         // 每页数据量
                    offset: params.offset,       // sql语句起始索引
                    page: (params.offset / params.limit) + 1,
                    sort: params.sort,           // 排序的列名
                    sortOrder: params.order      // 排序方式'asc' 'desc'
                };
                return temp;
            },
            sidePagination: "client",            // 分页方式：client客户端分页，server服务端分页
            pageNumber: 1,                       // 初始化加载第一页，默认第一页
            pageSize: 10,                        // 每页的记录行数
            pageList: [10, 20, 50, 100],         // 可供选择的每页的行数
            search: false,                      // 是否显示表格搜索，此搜索是客户端搜索
            columns: [{
                field: 'example',
                checkbox: true    // 是否显示复选框
            }, {
                field: 'id', //columns里的field的值必须和后端返回的字段名一样
                title: 'ID', //columns里的title的值就是表格列名
                sortable: true,    // 是否排序
                align: 'center',
            }, {
                field: 'course_name',
                title: '课程名',
                align: 'center',
            }, {
                field: 'student_name',
                title: '学生姓名',
                align: 'center',

            }, {
                field: 'score',
                title: '成绩',
                align: 'center',
            }, {
                field: 'operate',
                title: '操作',
                align: 'center',
                formatter: btnHandle,  // 自定义方法
                events: {
                    'click .edit-btn': function (event, value, row, index) {
                        editRole(row);
                    },
                    'click .del-btn': function (event, value, row, index) {
                        deleteRole(row);
                    }
                }
            }],

            onLoadSuccess: function (data) {
                $("[data-toggle='tooltip']").tooltip();


            }
        })
        $('#tb_departments').bootstrapTable('hideLoading'); // 手动关闭加载提示

    });

    // 获取课程名填充添加成绩模态框下拉菜单
    sendPostRequest('/course', '', function (data) {
        var select = $('#course-name');
        $.each(data, function (i, item) {
            select.append($('<option>', {
                value: item.id,
                text: item.name
            }));
        });
    }, function () {
        console.log('Error loading course');
    });

    $('#course-name').on('change', function () {
        // 清空第二个下拉菜单的内容
        $('#course-student-name').empty();

        // 获取选中的课程 ID
        var courseId = $(this).val();
        sendPostRequest('/courseByStudent', {course_id: courseId}, function (data) {
            var select = $('#course-student-name');
            $.each(data, function (i, item) {
                select.append($('<option>', {
                    value: item.student_id,
                    text: item.student_name
                }));
            });
        }, function () {
            console.log('Error loading course');
        })
    });

    $(function () {
        // 添加成绩
        $('#btn-add').click(function () {
            // 获取两个下拉框的值
            var courseId = $('#course-name').val();
            var studentId = $('#course-student-name').val();
            var score = $('#achievement-add-score').val();

            if (!isNumeric(score) || parseInt(score) < 0 || score > 100) {
                document.getElementById("error_message1").textContent = "请输入合法的分数值";
                return;
            }
            ;

            sendPostRequest('/achievement/add', {
                courseId: courseId,
                studentId: studentId,
                score: parseInt(score),
            }, function (data) {
                if (data.success) {
                    // 前端更新表格数据，添加该条目（仅仅是前端更新）
                    $('#tb_departments').bootstrapTable('append', {
                        course_name: courseId,
                        student_name: studentId,
                        score: score,
                    });
                    notice(data.message, 'success');
                } else {
                    notice(data.message, 'danger');
                }
            }, function (error) {
                console.error('Error:', error);
                notice(error.statusMessage, 'danger');
            });
            // 关闭模态框
            $('#exampleModalChange').modal('hide');
        });
        // 初始化表格
        $('#tb_departments').bootstrapTable({
            columns: [
                {
                    field: 'state',
                    checkbox: true,
                },
                {
                    field: 'id',
                    title: 'ID',
                },
                {
                    field: 'course_name',
                    title: 'course_name',
                },
                // 其他列...
            ],
            // 其他配置...
        });

        // 查询按钮添加点击事件
        $('#btn_search').click(function () {
            // 获取查询输入框的内容
            var courseId = $('#course-name-query').val();
            // 发起 AJAX 请求
            $.getJSON('/achievement?query=' + encodeURIComponent(courseId), function (data) {
                // 使用 bootstrapTable('load', data.rows) 更新表格
                $('#tb_departments').bootstrapTable('load', data);
            });
        });

        // 重置按钮添加点击事件
        $('.reset-btn').click(function () {
            // 发起 AJAX 请求
            $.getJSON('/achievement?query=all', function (data) {
                // 使用 bootstrapTable('load', data.rows) 更新表格
                $('#tb_departments').bootstrapTable('load', data);
            });
        });

        // 为批量删除按钮添加点击事件
        $('#btn_delete').click(function () {
            var selectedRows = $('#tb_departments').bootstrapTable('getSelections');
            if (selectedRows.length == 0) {
                notice("请至少选择一行", 'warning');
                return;
            }
            var selectedIds = [];

            // 遍历所有选中的行，并收集它们的ID值
            $.each(selectedRows, function (index, row) {
                selectedIds.push(row.id);
            });
            // 输出选中的ID值
            // console.log(selectedIds);
            // 发送 AJAX 请求
            sendPostRequest('/achievement/delete', {ids: selectedIds}, function (data) {
                if (data.success) {
                    // 成功删除后，从表格中移除对应的条目
                    $('#tb_departments').bootstrapTable('remove', {
                        field: 'id',
                        values: selectedIds
                    });
                    notice(data.message, 'success');

                } else {
                    // 显示错误消息
                    notice(data.message, 'danger');
                }
            }, function (error) {
                console.error('Error:', error);
                notice(error.statusMessage, 'danger');
            });
        });
    });

    // 操作按钮
    function btnHandle() {
        let html =
            '<a href="#!" class="btn btn-xs btn-default m-r-5 edit-btn" title="编辑" data-toggle="tooltip"><i class="mdi mdi-pencil"></i></a>' +
            '<a href="#!" class="btn btn-xs btn-default del-btn" title="删除" data-toggle="tooltip"><i class="mdi mdi-window-close"></i></a>';
        return html;
    }

    // 操作方法 - 编辑条目弹出框
    function editRole(row) {
        // 填充模态框中的表单
        $('#exampleModalEdit #exampleModalEditTitle').text('编辑条目');
        $('#exampleModalEdit #achievement-edit-name').val(row.course_name);
        $('#exampleModalEdit #achievement-edit-name').prop('disabled', true);
        $('#exampleModalEdit #achievement-edit-studentName').val(row.student_name);
        $('#exampleModalEdit #achievement-edit-studentName').prop('disabled', true);
        $('#exampleModalEdit #achievement-edit-score').val(row.score);
        // 存储当前行的 id
        var currentRowId = row.id;
        // 显示模态框
        $('#exampleModalEdit').modal('show');

        // 将 id 作为数据附加到保存按钮上
        $('#btn-edit-save').data('current-row-id', currentRowId);
    }

    // 编辑成绩保存
    $('#btn-edit-save').click(function () {
        // 从按钮数据中获取当前行的 id
        var currentRowId = $(this).data('current-row-id');
        var courseName = $('#exampleModalEdit #achievement-edit-name').val();
        var studentName = $('#exampleModalEdit #achievement-edit-studentName').val();
        var newScore = $('#exampleModalEdit #achievement-edit-score').val();
        sendPostRequest('/achievement/update', {
            id: currentRowId,
            courseName: courseName,
            studentName: studentName,
            newScore: parseInt(newScore),
        }, function (data) {
            if (data.success) {
                notice(data.message, 'success');
                // 前端更新表格数据，添加该条目（仅仅是前端更新）
                $('#tb_departments').bootstrapTable('updateRow', {
                    index: currentRowId - 1, // 使用 id 获取行索引
                    row: {
                        id: currentRowId, // 使用获取到的 id
                        score: newScore

                    }
                });
            } else {
                notice(data.message, 'danger');

            }
        }, function (error) {
            console.error('Error:', error);
            notice('服务端错误', 'danger');

        });
        // 提交后关闭模态框
        $('#exampleModalEdit').modal('hide');
    });

    // 操作方法 - 删除单个条目
    function deleteRole(row) {
        var selectedRows = $('#tb_departments').bootstrapTable('getSelections');
        if (selectedRows.length !== 1) {
            notice("请先选中该行", 'warning');
            return;
        }
        var rowId = selectedRows[0].id;
        // 确认是否删除
        $.confirm({
            title: '操作确认',
            escapeKey: true,
            content: '确定要删除此条目吗?',
            backgroundDismiss: true,
            buttons: {
                okay: {
                    text: '确认',
                    keys: ['enter'],
                    btnClass: 'btn-blue',
                    action: function () {
                        // 发送 DELETE 请求到后端
                        sendPostRequest('/achievement/delete', {id: rowId}, function (data) {
                            if (data.success) {
                                // 成功删除后，从表格中移除对应的条目
                                $('#tb_departments').bootstrapTable('remove', {
                                    field: 'id',
                                    values: [rowId]
                                });
                                notice(data.message, 'success');
                            } else {
                                notice(data.message, 'danger');
                            }
                        }, function (error) {
                            console.error('Error:', error);
                            notice(error.statusMessage, 'danger');
                        });
                    }
                },
                cancel: {
                    text: '取消',
                    keys: ['ctrl', 'shift'],
                    action: function () {
                        return;
                    }
                }
            },
        });
    }
</script>
</body>
</html>