<!DOCTYPE html>
<html lang="zh">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <title>成绩录入</title>
    <link rel="shortcut icon" type="image/x-icon" href="static/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <link rel="stylesheet" type="text/css" href="static/css/materialdesignicons.min.css">
    <link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="static/js/bootstrap-multitabs/multitabs.min.css">
    <link rel="stylesheet" type="text/css" href="static/js/jquery-confirm/jquery-confirm.min.css">
    <link rel="stylesheet" type="text/css" href="static/css/animate.min.css">
    <link rel="stylesheet" type="text/css" href="static/css/style.min.css">
    <style>
        /* 为每个按钮添加左右间距 */
        .btn-spacing {
            margin-left: 9px;
            margin-right: 9px;
        }
    </style>
</head>
<style>
    /* 默认的搜索框 */
    .lyear-search {
        position: relative;
        z-index: 0;
        display: -webkit-inline-box;
        display: inline-flex;
    }

    .lyear-search input {
        width: 300px;
        padding-left: 35px;
        -webkit-transition: .5s;
        transition: .5s;
    }

    #btn_delete {
        margin-left: 10px;
    }

    #toolbar2 {
        margin-left: 20px;
        flex-wrap: wrap;
        gap: 10px;
    }

    #toolbar2 .form-group {
        display: flex;
        align-items: center;
        margin-bottom: 0;
    }

    #toolbar2 label {
        margin-right: 6px;
        font-size: 14px;
    }

    #toolbar2 .form-control {
        width: 150px;
        padding: 4px 8px;
        font-size: 14px;
        border-radius: 4px;
    }

</style>
<body>

<!--页面主要内容-->

<div class="container-fluid p-t-15">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div id="toolbar" class="toolbar-btn-action">
                        <div class="row">
<!--                        <div class="col-md-6">-->
                            <div class="col-md-12 d-flex justify-content-start mb-3">
                                <!-- 新增和批量删除按钮 -->
                                <button id="btn_add" type="button" class="btn btn-info btn-spacing" data-toggle="modal"
                                        data-target="#exampleModalChange" style="display: none;">
                                    <span class="mdi mdi-plus" aria-hidden="true"></span>新增成绩
                                </button>
                                <button id="btn_delete" type="button" class="btn btn-danger btn-spacing" style="display: none;">
                                    <span class="mdi mdi-window-close" aria-hidden="true"></span>批量删除
                                </button>
                                <button id="btn_import" type="button" class="btn btn-success btn-spacing" data-toggle="modal"
                                        data-target="#importModal" style="display: none;">
                                    <span class="mdi mdi-file-excel" aria-hidden="true"></span>批量导入
                                </button>
                            </div>
<!--                            <div class="col-md-6 text-right search-group">-->
<!--                                &lt;!&ndash; 搜索按钮和输入框 &ndash;&gt;-->
<!--                                <div class="form-group">-->
<!--                                    <form class="lyear-search lyear-search-left lyear-search-rounder">-->
<!--                                        <div class="input-group">-->

<!--                                            <label for="course-name-query" style="margin-top: 5px">课程名字: </label>-->
<!--                                            <select class="form-control" id="course-name-query"-->
<!--                                                    style="width: 400px; margin-left: 20px;margin-right: 20px;">-->
<!--                                            </select>-->
<!--                                            <div class="input-group-btn">-->
<!--                                                <button id="btn_search" type="button" class="btn btn-success mr-2">-->
<!--                                                    <i class="mdi mdi-magnify"></i>搜索-->

<!--                                                </button>-->
<!--                                                <a class="btn btn-default reset-btn"><i class="mdi mdi-restore"></i>重置</a>-->
<!--                                            </div>-->

<!--                                        </div>-->
<!--                                    </form>-->
<!--                                </div>-->
<!--                            </div>-->
                            <div id="toolbar2" class="toolbar-btn-action d-flex align-items-center flex-wrap">
                                <!-- 学年筛选框 -->
                                <div class="form-group mr-3 d-flex align-items-center">
                                    <label for="YearFilter" class="mr-2 font-weight-bold">筛选学年：</label>
                                    <select id="YearFilter" class="form-control" style="width: 120px;">
                                        <option value="">全部</option>
                                    </select>
                                </div>

                                <!-- 学期筛选框 -->
                                <div class="form-group mr-3 d-flex align-items-center">
                                    <label for="SemesterFilter" class="mr-2 font-weight-bold">筛选学期：</label>
                                    <select id="SemesterFilter" class="form-control" style="width: 120px;" disabled>
                                        <option value="">全部</option>
                                    </select>
                                </div>

                                <!-- 课程编号搜索框 -->
                                <div class="form-group mr-3 d-flex align-items-center">
                                    <label for="courseNameSearch" class="mr-2 font-weight-bold">课程名称：</label>
                                    <input type="text" id="courseNameSearch" class="form-control" style="width: 150px;">
                                </div>

                                <!-- 学生学号搜索框 -->
                                <div class="form-group d-flex align-items-center">
                                    <label for="studentNoSearch" class="mr-2 font-weight-bold">学生学号：</label>
                                    <input type="text" id="studentNoSearch" class="form-control" style="width: 150px;">
                                </div>
                            </div>
                        </div>
                        <div class="modal fade" id="importModal" tabindex="-1" role="dialog" aria-labelledby="importModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="importModalLabel">批量导入成绩</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p>请选择Excel文件进行上传，文件表头如下：</p>
                                        <p><strong>学生学号，课程名称，学年，学期，成绩</strong></p>
                                        <input type="file" id="fileInput" accept=".xlsx, .xls" class="form-control-file">
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                                        <button type="button" id="btn-upload" class="btn btn-primary">上传文件</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--这里是模拟一个弹出框添加条目-->
                        <div class="modal fade" id="exampleModalChange" tabindex="-1" role="dialog"
                             aria-labelledby="exampleModalChangeLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h6 class="modal-add-title" id="exampleModalChangeTitle">添加成绩</h6>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form>
                                            <!-- 学号 -->
                                            <div class="form-group">
                                                <label for="student-no">学生学号</label>
                                                <div class="input-group">
                                                    <input type="text" class="form-control" id="student-no">
                                                    <div class="input-group-append">
                                                        <button id="btn-validate-student" type="button" class="btn btn-primary">校验学号</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="student-info" class="mt-2" style="display: none; color: #007bff;"></div>

                                            <!-- 专业下拉 -->
                                            <div class="form-group">
                                                <label for="major-select">专业</label>
                                                <select id="major-select" class="form-control" disabled>
                                                    <option value="">请先输入学号</option>
                                                </select>
                                            </div>

                                            <!-- 课程下拉 -->
                                            <div class="form-group">
                                                <label for="course-select">课程</label>
                                                <select id="course-select" class="form-control" disabled>
                                                    <option value="">请先选择专业</option>
                                                </select>
                                            </div>

                                            <!-- 学年、学期、成绩 -->
                                            <div class="form-group">
                                                <label for="achievement-add-year">学年</label>
                                                <input type="text" class="form-control" id="achievement-add-year" maxlength="32">
                                            </div>
                                            <div class="form-group">
                                                <label for="achievement-add-semester">学期</label>
                                                <input type="text" class="form-control" id="achievement-add-semester" maxlength="32">
                                            </div>
                                            <div class="form-group">
                                                <label for="achievement-add-score">成绩</label>
                                                <input type="text" class="form-control" id="achievement-add-score" maxlength="6" placeholder="最多两位小数">
                                            </div>

                                            <div id="error_message1" style="color: red"></div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭
                                        </button>
                                        <button type="button" id="btn-add" class="btn btn-primary">保存</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--这里是一个编辑条目的模态框-->
                        <div class="modal fade" id="exampleModalEdit" tabindex="-1" role="dialog"
                             aria-labelledby="exampleModalChangeLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h6 class="modal-edit-title" id="exampleModalEditTitle"></h6>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form>
                                            <!-- 学号 -->
                                            <div class="form-group">
                                                <label for="edit-student-no">学生学号</label>
                                                <div class="input-group">
                                                    <input type="text" class="form-control" id="edit-student-no" disabled>
                                                    <div class="input-group-append">
                                                        <button id="btn-validate-edit-student" type="button" class="btn btn-primary">校验学号</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="edit-student-info" class="mt-2" style="display:none; color:#007bff;"></div>

                                            <!-- 专业下拉 -->
                                            <div class="form-group">
                                                <label for="edit-major-select">专业</label>
                                                <select id="edit-major-select" class="form-control" disabled>
                                                </select>
                                            </div>

                                            <!-- 课程下拉 -->
                                            <div class="form-group">
                                                <label for="edit-course-select">课程</label>
                                                <select id="edit-course-select" class="form-control" disabled>
                                                </select>
                                            </div>

                                            <!-- 学年 / 学期 / 成绩 -->
                                            <div class="form-group">
                                                <label for="edit-year">学年</label>
                                                <input type="text" class="form-control" id="edit-year" maxlength="32">
                                            </div>
                                            <div class="form-group">
                                                <label for="edit-semester">学期</label>
                                                <input type="text" class="form-control" id="edit-semester" maxlength="32">
                                            </div>
                                            <div class="form-group">
                                                <label for="edit-score">成绩</label>
                                                <input type="text" class="form-control" id="edit-score" maxlength="6" placeholder="最多两位小数">
                                            </div>
                                            <div id="error_message2" style="color:red;"></div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消
                                        </button>
                                        <button type="button" id="btn-edit-save" class="btn btn-primary">保存
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <table id="tb_departments">
                        <thead class="thead-dark">
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!--End 页面主要内容-->

<script type="text/javascript" src="static/js/jquery.min.js"></script>
<script type="text/javascript" src="static/js/popper.min.js"></script>
<script type="text/javascript" src="static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="static/js/perfect-scrollbar.min.js"></script>
<script type="text/javascript" src="static/js/jquery.cookie.min.js"></script>
<script type="text/javascript" src="static/js/bootstrap-notify.min.js"></script>
<script type="text/javascript" src="static/js/bootstrap-multitabs/multitabs.min.js"></script>
<script type="text/javascript" src="static/js/jquery.cookie.min.js"></script>
<script type="text/javascript" src="static/js/index.min.js"></script>
<script type="text/javascript" src="static/js/main.min.js"></script>
<script type="text/javascript" src="static/js/Chart.min.js"></script>
<script type="text/javascript" src="static/js/jquery.cookie.min.js"></script>
<script type="text/javascript" src="static/js/bootstrap-maxlength/bootstrap-maxlength.min.js"></script>
<script type="text/javascript" src="static/js/jquery-tagsinput/jquery.tagsinput.min.js"></script>
<script type="text/javascript" src="static/js/jquery-confirm/jquery-confirm.min.js"></script>
<script type="text/javascript" src="static/js/jquery-confirm/jquery-confirm.min.js"></script>
<script type="text/javascript" src="static/js/bootstrap-table/bootstrap-table.min.js"></script>
<script type="text/javascript" src="static/js/bootstrap-table/extensions/export/bootstrap-table-export.min.js"></script>
<script type="text/javascript" src="static/js/tableExport.min.js"></script>
<script type="text/javascript" src="static/js/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
<script type="text/javascript" src="static/js/jquery-treegrid/jquery.treegrid.min.js"></script>
<script type="text/javascript"
        src="static/js/bootstrap-table/extensions/treegrid/bootstrap-table-treegrid.min.js"></script>
<script type="text/javascript" src="static/js/myutils.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        accessControl();
        // 获取课程名填充添加成绩模态框下拉菜单
        // sendPostRequest('/course', '', function (data) {
        //     var select = $('#course-name-query');
        //     $.each(data, function (i, item) {
        //         select.append($('<option>', {
        //             value: item.id,
        //             text: item.name
        //         }));
        //     });
        // }, function () {
        //     console.log('Error loading course');
        // });
        // 在页面加载完成后，从模板上下文中获取 teacher_infos 变量
        var achievementInfos = {{achievement_infos | tojson}};
        console.log(localStorage);
        // 向后端获取数据填充table
        $('#tb_departments').bootstrapTable({
            data: achievementInfos,
            classes: 'table table-bordered table-hover table-striped',
            dataType: 'jsonp',            // 因为本示例中是跨域的调用,所以涉及到ajax都采用jsonp,
            uniqueId: 'id',
            idField: 'id',              // 每行的唯一标识字段
            toolbar: '#toolbar',        // 工具按钮容器
            clickToSelect: false,       // 是否启用点击选中行
            striped: true,              // 是否显示行间隔色
            showColumns: true,         // 是否显示所有的列
            showRefresh: false,         // 是否显示刷新按钮,这个按钮这一般是在客户端分页的情况下使用
            showToggle: false,          // 是否显示详细视图和列表视图的切换按钮(clickToSelect同时设置为true时点击会报错)
            cache: false,               // 不缓存数据
            pagination: true,                    // 是否显示分页
            sortOrder: "asc",                    // 排序方式
            // 传递参数
            queryParams: function (params) {
                var temp = {
                    limit: params.limit,         // 每页数据量
                    offset: params.offset,       // sql语句起始索引
                    page: (params.offset / params.limit) + 1,
                    sort: params.sort,           // 排序的列名
                    sortOrder: params.order      // 排序方式'asc' 'desc'
                };
                return temp;
            },
            sidePagination: "client",            // 分页方式：client客户端分页，server服务端分页
            pageNumber: 1,                       // 初始化加载第一页，默认第一页
            pageSize: 10,                        // 每页的记录行数
            pageList: [10, 20, 50, 100],         // 可供选择的每页的行数
            search: false,                      // 是否显示表格搜索，此搜索是客户端搜索
            showExport: true,        // 是否显示导出按钮, 导出功能需要导出插件支持(tableexport.min.js)
            showFooter: true,
            exportOptions: {
                includeFooter: true,
                fileName: '成绩表',
                ignoreColumn: ['operate'], // 忽略操作列导出
            },
            exportDataType: "all", // 导出数据类型, 'basic':当前页, 'all':所有数据, 'selected':选中的数据
            columns: [{
                field: 'example',
                checkbox: true    // 是否显示复选框
            }, {
                field: 'id', //columns里的field的值必须和后端返回的字段名一样
                title: 'ID', //columns里的title的值就是表格列名
                sortable: true,    // 是否排序
                align: 'center',
                visible: false,
            }, {
                field: 'year',
                title: '学年',
                align: 'center',
            },{
                field: 'semester',
                title: '学期',
                align: 'center',
            },{
                field: 'course_name',
                title: '课程名称',
                align: 'center',
            },{
                field: 'course_major',
                title: '专业',
                align: 'center',
            },{
                field: 'teacher_name',
                title: '授课老师',
                align: 'center',
            }, {
                field: 'student_no',
                title: '学生学号',
                align: 'center',
                formatter: function(value) {
                    return `<strong>${value || ''}</strong>`;
                }
            },{
                field: 'student_name',
                title: '学生姓名',
                align: 'center',
                formatter: function(value) {
                    return `<strong>${value || ''}</strong>`;
                }
            }, {
                field: 'score',
                title: '成绩',
                align: 'center',
                sortable: true,
                formatter: function(v){ return Number(v).toString(); },
            }, {
                field: 'gradelevel_name',
                title: '成绩分级',
                align: 'center',
                searchable: true,
            },{
                field: 'gpa',
                title: '绩点',
                align: 'center',
                searchable: true,
                formatter: function(v){ return Number(v).toString(); },
            }, {
                field: 'operate',
                title: '操作',
                align: 'center',
                formatter: btnHandle,  // 自定义方法
                events: {
                    'click .edit-btn': function (event, value, row, index) {
                        editRole(row);
                    },
                    'click .del-btn': function (event, value, row, index) {
                        deleteRole(row);
                    }
                },
                footerFormatter: function(data) {
                    if (!data.length) return '平均分：';
                    var sum = data.reduce(function(total, row) {
                        return total + (parseFloat(row.score) || 0);
                    }, 0);
                    var avg = (sum / data.length).toFixed(2);
                    return '平均分：' + avg;
                }
            }],
            onLoadSuccess: function (data) {
                $("[data-toggle='tooltip']").tooltip();


            }
        })
        $('#tb_departments').bootstrapTable('hideLoading'); // 手动关闭加载提示

        var filters = {}; // 存储所有筛选条件

        var achievementInfos = {{ achievement_infos | tojson }};
        var years = [...new Set(achievementInfos.map(item => item.year))];
        years.sort((a, b) => b - a);
        years.forEach(year => {
            $('#YearFilter').append(new Option(year, year));
        });

        //学年筛选
        $('#YearFilter').on('change', function() {
            filters.year = $(this).val() || undefined;

            // 清除学期筛选条件并重置学期下拉框
            filters.semester = undefined;
            $('#SemesterFilter').empty().append(new Option("全部", "")).prop('disabled', !$(this).val());

            var selectedYear = $(this).val();
            if (selectedYear) {
                var semesters = [...new Set(achievementInfos.filter(item => item.year === selectedYear).map(item => item.semester))];
                semesters.sort((a, b) => b - a);

                semesters.forEach(semester => {
                    $('#SemesterFilter').append(new Option(semester, semester));
                });

                $('#SemesterFilter').prop('disabled', false);
            }

            applyFilters();
            // calculateAverageScoreIfNeeded();
        });

        // 学期筛选
        $('#SemesterFilter').on('change', function() {
            filters.semester = $(this).val() || undefined;
            applyFilters();
            // calculateAverageScoreIfNeeded();
        });

        // 课程编号搜索
        $('#courseNameSearch').on('input', function() {
            filters.course_name = $(this).val().trim() || undefined;
            applyFilters();
            // calculateAverageScoreIfNeeded();
        });

        // 学生学号搜索
        $('#studentNoSearch').on('input', function() {
            filters.student_no = $(this).val().trim() || undefined;
            applyFilters();
            // calculateAverageScoreIfNeeded();
        });

        // 应用筛选条件
        function applyFilters() {
            let activeFilters = Object.fromEntries(
                Object.entries(filters).filter(([_, value]) => value !== undefined)
            );

            $('#tb_departments').bootstrapTable('filterBy', activeFilters);
        }

        // 判断是否需要显示平均分
        function calculateAverageScoreIfNeeded() {
            // 只要表里有数据就计算
            if ($('#tb_departments').bootstrapTable('getData').length) {
                calculateAverageScore();
            } else {
                $('#average-score').remove();
            }
        }

        // 计算平均分并显示在表格下方
        function calculateAverageScore() {
            var data = $('#tb_departments').bootstrapTable('getData');
            var validScores = data
                .map(row => parseFloat(row.score))
                .filter(score => !isNaN(score));

            if (validScores.length === 0) {
                $('#average-score').remove();
                return;
            }

            var totalScore = validScores.reduce((sum, score) => sum + score, 0);
            var averageScore = (totalScore / validScores.length).toFixed(2);

            $('#average-score').remove();
            $('#tb_departments').after(`
                <div id="average-score" class="mt-3" style="text-align: right; padding-right: 40px; font-size: 1.1em; font-weight: bold; color: #d9534f;">
                    平均分: ${averageScore}
                </div>
            `);
        }
    });

    // // 获取课程名填充添加成绩模态框下拉菜单
    // sendPostRequest('/course', '', function (data) {
    //     var select = $('#course-name');
    //     $.each(data, function (i, item) {
    //         select.append($('<option>', {
    //             value: item.id,
    //             text: item.name
    //         }));
    //     });
    // }, function () {
    //     console.log('Error loading course');
    // });
    //
    // $('#course-name').on('change', function () {
    //     // 清空第二个下拉菜单的内容
    //     $('#course-student-name').empty();
    //
    //     // 获取选中的课程 ID
    //     var courseId = $(this).val();
    //     sendPostRequest('/courseByStudent', {course_id: courseId}, function (data) {
    //         var select = $('#course-student-name');
    //         $.each(data, function (i, item) {
    //             select.append($('<option>', {
    //                 value: item.student_id,
    //                 text: item.student_name
    //             }));
    //         });
    //     }, function () {
    //         console.log('Error loading course');
    //     })
    // });

    $(function () {
        $('#btn-validate-course').click(function () {
            var courseName = $('#course-name').val();
            if (!courseName) {
                alert('请输入课程名称');
                return;
            }

            // 使用 AJAX 向后端发送请求
            $.ajax({
                url: '/course?course_name=' + encodeURIComponent(courseName),
                type: 'GET',
                success: function (data) {
                    if (data.success) {
                        // 显示返回的课程信息
                        console.log(data);
                        $('#course-info').html(
                         `<p><strong>课程名称:</strong> ${data.course_info.name}</p>
                         <p><strong>授课老师:</strong> ${data.course_info.teacher_name}</p>`
                        ).show();
                    } else {
                        $('#course-info').html(
                            `<p><strong> ${data.message}</strong></p>`
                        ).show();
                    }
                },
                error: function () {
                    alert('请求失败，请稍后重试');
                    $('#course-info').hide();
                }
            });
        });
    });

    $('#btn-validate-student').click(function () {
        var studentNo = $('#student-no').val().trim();
        if (!studentNo) {
            alert('请输入学生学号');
            return;
        }
        validateStudentNumber(studentNo, 'add');  // 这里明确传 'add'
    });

    // 输入完学生学号后自动拉专业
    $('#student-no').on('blur', function() {
        var studentNo = $(this).val().trim();
        if (!studentNo) return; // 空的不请求

        $.getJSON('/major_list?student_no=' + encodeURIComponent(studentNo), function(resp) {
            if (!resp.success) {
                alert(resp.message || '没有查到专业');
                $('#major-select').empty().append('<option value="">无专业可选</option>').prop('disabled', true);
                $('#course-select').empty().append('<option value="">请先选择专业</option>').prop('disabled', true);
                return;
            }
            var majors = resp.majors;
            var $maj = $('#major-select').empty().prop('disabled', false);
            $maj.append('<option value="">请选择专业</option>');
            majors.forEach(m => $maj.append(`<option value="${m}">${m}</option>`));

            // 专业下拉刷新后，课程也要重置
            $('#course-select').empty().append('<option value="">请先选择专业</option>').prop('disabled', true);
        }).fail(function() {
            alert('专业加载失败');
        });
    });

    // 专业选择后，获取课程列表
    $('#major-select').change(function() {
        var major = $(this).val();
        if (!major) {
            $('#course-select').empty().prop('disabled', true)
                .append('<option value="">请先选择专业</option>');
            return;
        }
        $.getJSON('/course?major=' + encodeURIComponent(major), function(resp) {
            if (!resp || !Array.isArray(resp)) {
                alert('未返回课程列表');
                return;
            }
            var $crs = $('#course-select').empty().prop('disabled', false);
            $crs.append('<option value="">请选择课程</option>');

            resp.forEach(function(courseObj) {
                $crs.append(`<option value="${courseObj.name}">${courseObj.name}</option>`);
            });
        })
            .fail(function(){
                alert('拉取课程列表失败');
            });
    });

    function isValidScore(value) {
        value = value.toString();
        // 判断是否是数字，并且在有效范围内
        if (isNaN(value)) return false;

        const num = parseFloat(value);
        if (num < 0) return false;

        // 限制最多两位小数
        return /^\d+(\.\d{1,2})?$/.test(value);
    }

    $(function () {
        // 添加成绩
        $('#btn-add').click(function () {
            $('#error_message1').text('');
            // 获取两个下拉框的值
            var studentNo = $('#student-no').val().trim();
            var major = $('#major-select').val();
            var courseName = $('#course-select').val();
            var year = $('#achievement-add-year').val().trim();
            var semester = $('#achievement-add-semester').val().trim();
            var score = $('#achievement-add-score').val().trim();

            if (!studentNo|| !major|| !courseName|| !year|| !semester) {
                return $('#error_message1').text('请完整填写所有字段');
            }

            if (!isValidScore(score)) {
                document.getElementById("error_message1").textContent = "请输入合法的分数值（最多两位小数）";
                return;
            }

            sendPostRequest('/achievement/add', {
                courseName: courseName,
                studentNo: studentNo,
                year: year,
                semester: semester,
                score: parseFloat(score),
            }, function (data) {
                if (data.success) {
                    // 前端更新表格数据，添加该条目（仅仅是前端更新）
                    $('#tb_departments').bootstrapTable('append', {
                        year: year,
                        semester: semester,
                        course_name: data.achievement_info.course_name,
                        course_major: data.achievement_info.course_major,
                        teacher_name: data.achievement_info.teacher_name,
                        student_no: data.achievement_info.student_no,
                        student_name: data.achievement_info.student_name,
                        score: score,
                        gradelevel_name: data.achievement_info.gradelevel_name,
                        gpa: data.achievement_info.gpa,
                    });
                    notice(data.message, 'success');
                    // ➡️ 添加成功后，跳转到最后一页
                    const pageSize = $('#tb_departments').bootstrapTable('getOptions').pageSize;
                    const totalRows = $('#tb_departments').bootstrapTable('getData').length;
                    const lastPage = Math.ceil(totalRows / pageSize);
                    $('#tb_departments').bootstrapTable('refreshOptions', {pageNumber: lastPage});
                } else {
                    notice(data.message, 'danger', 10000);
                }
            }, function (error) {
                console.error('Error:', error);
                notice(error.statusMessage, 'danger', 10000);
            });
            // 关闭模态框
            $('#exampleModalChange').modal('hide');
        });
        // 在模态框关闭时清除课程和学生信息
        $('#exampleModalChange').on('hide.bs.modal', function () {
            // 清空课程和学生信息内容
            $('#error_message1').text('');
        });
        // 初始化表格
        $('#tb_departments').bootstrapTable({
            columns: [
                {
                    field: 'state',
                    checkbox: true,
                },
                {
                    field: 'id',
                    title: 'ID',
                },
                {
                    field: 'course_name',
                    title: 'course_name',
                },
                // 其他列...
            ],
            // 其他配置...
        });

        // 查询按钮添加点击事件
        $('#btn_search').click(function () {
            // 获取查询输入框的内容
            var courseId = $('#course-name-query').val();
            // 发起 AJAX 请求
            $.getJSON('/achievement?query=' + encodeURIComponent(courseId), function (data) {
                // 使用 bootstrapTable('load', data.rows) 更新表格
                $('#tb_departments').bootstrapTable('load', data);
            });
        });

        // 重置按钮添加点击事件
        $('.reset-btn').click(function () {
            // 发起 AJAX 请求
            $.getJSON('/achievement?query=all', function (data) {
                // 使用 bootstrapTable('load', data.rows) 更新表格
                $('#tb_departments').bootstrapTable('load', data);
            });
        });

        // 为批量删除按钮添加点击事件
        $('#btn_delete').click(function () {
            var selectedRows = $('#tb_departments').bootstrapTable('getSelections');
            if (selectedRows.length == 0) {
                notice("请至少选择一行", 'warning');
                return;
            }
            var selectedIds = [];

            // 遍历所有选中的行，并收集它们的ID值
            $.each(selectedRows, function (index, row) {
                selectedIds.push(row.id);
            });
            // 输出选中的ID值
            // console.log(selectedIds);
            // 发送 AJAX 请求
            sendPostRequest('/achievement/delete', {ids: selectedIds}, function (data) {
                if (data.success) {
                    // 成功删除后，从表格中移除对应的条目
                    $('#tb_departments').bootstrapTable('remove', {
                        field: 'id',
                        values: selectedIds
                    });
                    notice(data.message, 'success', 10000);

                } else {
                    // 显示错误消息
                    notice(data.message, 'danger', 10000);
                }
            }, function (error) {
                console.error('Error:', error);
                notice(error.statusMessage, 'danger', 10000);
            });
        });
    });

    // 操作按钮
    function btnHandle() {
        let html =
            '<a href="#!" class="btn btn-xs btn-default m-r-5 edit-btn" title="编辑" data-toggle="tooltip"><i class="mdi mdi-pencil"></i></a>' +
            '<a href="#!" class="btn btn-xs btn-default del-btn" title="删除" data-toggle="tooltip"><i class="mdi mdi-window-close"></i></a>';
        return html;
    }

    // 操作方法 - 编辑条目弹出框
    function editRole(row) {
        $('#error_message2').text('');
        // 填充模态框中的表单
        $('#exampleModalEdit #exampleModalEditTitle').text('编辑条目');
        $('#edit-student-no').val(row.student_no).prop('disabled', true);
        $('#edit-year').val(row.year);
        $('#edit-semester').val(row.semester);
        $('#edit-score').val(row.score);

        var currentRowId = row.id;
        $('#btn-edit-save').data('current-row-id', currentRowId);

        // 专业下拉框，直接根据 row.course_major 设置
        var $maj = $('#edit-major-select').empty().prop('disabled', true);
        if (row.course_major) {
            $maj.append(`<option value="${row.course_major}" selected>${row.course_major}</option>`);
        } else {
            $maj.append('<option value="">无专业</option>');
        }

        // 课程下拉框，直接根据 row.course_name 设置
        var $crs = $('#edit-course-select').empty().prop('disabled', true);
        if (row.course_name) {
            $crs.append(`<option value="${row.course_name}" selected>${row.course_name}</option>`);
        } else {
            $crs.append('<option value="">无课程</option>');
        }

        // 自动校验学生信息（下方显示姓名）
        validateStudentNumber(row.student_no, 'edit');

        // 打开弹窗
        $('#exampleModalEdit').modal('show');
    }

    // 校验课程编号的函数
    function validateCourseName(courseName) {
        if (!courseName) return;

        $.ajax({
            url: '/course?course_name=' + encodeURIComponent(courseName),
            type: 'GET',
            success: function (data) {
                if (data.success) {
                    $('#edit-course-info').html(
                        `<p><strong>课程名称:</strong> ${data.course_info.name}</p>
                        <p><strong>授课老师:</strong> ${data.course_info.teacher_name}</p>`
                    ).show();
                } else {
                    $('#edit-course-info').html(`<p><strong>${data.message}</strong></p>`).show();
                }
            },
            error: function () {
                alert('请求失败，请稍后重试');
                $('#edit-course-info').hide();
            }
        });
    }

    // 校验学生学号的函数
    function validateStudentNumber(studentNo, target = 'add') {
        if (!studentNo) return;

        $.ajax({
            url: '/user?student_no=' + encodeURIComponent(studentNo),
            type: 'GET',
            success: function (data) {
                if (data.success) {
                    if (target === 'add') {
                        $('#student-info').html(
                            `<p><strong>学生学号:</strong> ${data.student_info.username}</p>
                         <p><strong>学生姓名:</strong> ${data.student_info.name}</p>`
                        ).show();
                    } else if (target === 'edit') {
                        $('#edit-student-info').html(
                            `<p><strong>学生学号:</strong> ${data.student_info.username}</p>
                         <p><strong>学生姓名:</strong> ${data.student_info.name}</p>`
                        ).show();
                    }
                } else {
                    alert(data.message);
                }
            },
            error: function () {
                alert('请求失败，请稍后重试');
            }
        });
    }

    // 编辑成绩保存
    $('#btn-edit-save').click(function () {
        $('#error_message2').text('');
        // 从按钮数据中获取当前行的 id
        var currentRowId = $(this).data('current-row-id');
        console.log(currentRowId)
        var courseName = $('#exampleModalEdit #edit-course-select').val().trim();
        var studentNo = $('#exampleModalEdit #edit-student-no').val().trim();
        var year = $('#exampleModalEdit #edit-year').val().trim();
        var semester = $('#exampleModalEdit #edit-semester').val().trim();
        var newScore = $('#exampleModalEdit #edit-score').val().trim();
        if (!isValidScore(newScore)) {
            document.getElementById("error_message2").textContent = "请输入合法的分数值（最多两位小数）";
            return;
        }
        sendPostRequest('/achievement/update', {
            id: currentRowId,
            courseName: courseName,
            studentNo: studentNo,
            year: year,
            semester: semester,
            newScore: parseFloat(newScore),
        }, function (data) {
            if (data.success) {
                notice(data.message, 'success', 10000);
                // 前端更新表格数据，添加该条目（仅仅是前端更新）
                $('#tb_departments').bootstrapTable('updateByUniqueId', {
                    id: currentRowId, // 使用 id 获取行索引
                    row: {
                        id: currentRowId, // 使用获取到的 id
                        year: year,
                        semester: semester,
                        course_name: data.achievement_info.course_name,
                        course_major: data.achievement_info.course_major,
                        teacher_name: data.achievement_info.teacher_name,
                        student_no: data.achievement_info.student_no,
                        student_name: data.achievement_info.student_name,
                        score: newScore,
                        gradelevel_name: data.achievement_info.gradelevel_name,
                        gpa: data.achievement_info.gpa,
                    }
                });
            } else {
                notice(data.message, 'danger', 10000);

            }
        }, function (error) {
            console.error('Error:', error);
            notice('服务端错误', 'danger', 10000);

        });
        // 提交后关闭模态框
        $('#exampleModalEdit').modal('hide');
    });

    // 操作方法 - 删除单个条目
    function deleteRole(row) {
        var selectedRows = $('#tb_departments').bootstrapTable('getSelections');
        if (selectedRows.length !== 1) {
            notice("请先选中该行", 'warning');
            return;
        }
        var rowId = selectedRows[0].id;
        // 确认是否删除
        $.confirm({
            title: '操作确认',
            escapeKey: true,
            content: '确定要删除此条目吗?',
            backgroundDismiss: true,
            buttons: {
                okay: {
                    text: '确认',
                    keys: ['enter'],
                    btnClass: 'btn-blue',
                    action: function () {
                        // 发送 DELETE 请求到后端
                        sendPostRequest('/achievement/delete', {id: rowId}, function (data) {
                            if (data.success) {
                                // 成功删除后，从表格中移除对应的条目
                                $('#tb_departments').bootstrapTable('remove', {
                                    field: 'id',
                                    values: [rowId]
                                });
                                notice(data.message, 'success', 10000);
                            } else {
                                notice(data.message, 'danger', 10000);
                            }
                        }, function (error) {
                            console.error('Error:', error);
                            notice(error.statusMessage, 'danger', 10000);
                        });
                    }
                },
                cancel: {
                    text: '取消',
                    keys: ['ctrl', 'shift'],
                    action: function () {
                        return;
                    }
                }
            },
        });
    }
    $('#btn-upload').click(function () {
        const file = $('#fileInput')[0].files[0];
        if (!file) {
            alert('请先选择一个文件');
            return;
        }

        const formData = new FormData();
        formData.append('file', file);

        $.ajax({
            url: '/achievement/import',
            type: 'POST',
            data: formData,
            contentType: false,
            processData: false,
            success: function (response) {
                if (response.success) {
                    if (response.error_details && response.error_details.length > 0) {
                        // 部分失败，弹窗列出失败内容
                        var errorListHtml = '<ul style="text-align:left;">';
                        response.error_details.forEach(function(item) {
                            errorListHtml += '<li>' + item.row + '：' + item.reason + '</li>';
                        });
                        errorListHtml += '</ul>';

                        $.alert({
                            title: '部分数据导入失败',
                            content: errorListHtml,
                            type: 'orange',
                            buttons: {
                                ok: {
                                    text: '确定',
                                    btnClass: 'btn-warning',
                                    action: function () {
                                        location.reload();  // 成功部分后刷新
                                    }
                                }
                            }
                        });
                    } else {
                        // 完全成功
                        $.alert({
                            title: '成功',
                            content: response.message,
                            type: 'green',
                            buttons: {
                                ok: function () {
                                    location.reload(); // 完全成功后刷新
                                }
                            }
                        });
                    }
                } else {
                    // 后端直接返回失败（完全失败）
                    $.alert({
                        title: '导入失败',
                        content: response.message,
                        type: 'red',
                        buttons: {
                            ok: function () {}
                        }
                    });
                }
            },
            error: function () {
                alert('文件上传失败，请重试');
            }
        });
    });

    function accessControl() {
        const role = localStorage.getItem('role');

        if (role === '1') {
            // 如果 role 等于 '1'，显示按钮
            document.getElementById('btn_add').style.display = 'inline-block';
            document.getElementById('btn_delete').style.display = 'inline-block';
            document.getElementById('btn_import').style.display = 'inline-block';
        } else {
            // 隐藏“操作”列
            $('#tb_departments').bootstrapTable('hideColumn', 'operate');
        }
    }

    // 页面加载时调用 accessControl 函数
    $(document).ready(function () {
        accessControl();
    });

</script>
</body>
</html>