<!DOCTYPE html>
<html lang="zh">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <title>平均成绩</title>
    <link rel="shortcut icon" type="image/x-icon" href="static/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <link rel="stylesheet" type="text/css" href="static/css/materialdesignicons.min.css">
    <link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="static/js/bootstrap-multitabs/multitabs.min.css">
    <link rel="stylesheet" type="text/css" href="static/css/animate.min.css">
    <link rel="stylesheet" type="text/css" href="static/css/style.min.css">
    <link rel="stylesheet" type="text/css" href="static/js/bootstrap-datetimepicker/bootstrap-datetimepicker.css">

</head>
<style>
    /* 默认的搜索框 */
    .lyear-search {
        position: relative;
        z-index: 0;
        display: -webkit-inline-box;
        display: inline-flex;
    }

    .lyear-search input {
        width: 300px;
        padding-left: 35px;
        -webkit-transition: .5s;
        transition: .5s;
    }

    #btn_delete {
        margin-left: 10px;
    }

    /* 缩小特定的输入框 */
    form.lyear-search .form-control {
        width: 200px; /* 调整宽度，可以根据需要修改 */
        padding: 4px 8px; /* 调整内边距，缩小高度 */
        font-size: 0.9em; /* 字体稍微小一些 */
    }

    /* 黑底白字表头样式 */
    #achievementTable thead th {
        background-color: black;
        color: white;
        text-align: center;
    }

    /* 表格内容居中 */
    #achievementTable th, #achievementTable td {
        text-align: center;
        vertical-align: middle;
    }

</style>
<body>

<!--页面主要内容-->

<div class="container-fluid p-t-15">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div id="toolbar" class="toolbar-btn-action">
                        <div class="row">
                            <div class="col-md-12 text-right search-group">
                                <div class="form-group">
                                    <form class="lyear-search lyear-search-left lyear-search-rounder">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">年度</span>
                                            </div>
                                            <input class="form-control" type="text" name="year" maxlength="32"
                                                   placeholder="请输入年度，例如 2024"/>
                                            <div class="input-group-prepend input-group-append">
                                                <span class="input-group-text">学期</span>
                                            </div>
                                            <input class="form-control" type="text" name="semester" maxlength=32
                                                   placeholder="请输入学期，例如 3"/>
                                            <div class="input-group-btn" style="margin-left: 20px">
                                                <button id="search_btn" type="button" class="btn btn-success mr-2">
                                                    <i class="mdi mdi-magnify"></i>搜索
                                                </button>
                                                <a class="btn btn-default reset_btn"><i class="mdi mdi-restore"></i>重置</a>
                                            </div>
                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                    <table id="tb_departments">
                        <thead class="thead-dark">
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!--End 页面主要内容-->

<script type="text/javascript" src="static/js/jquery.min.js"></script>
<script type="text/javascript" src="static/js/popper.min.js"></script>
<script type="text/javascript" src="static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="static/js/perfect-scrollbar.min.js"></script>
<script type="text/javascript" src="static/js/jquery.cookie.min.js"></script>
<script type="text/javascript" src="static/js/bootstrap-notify.min.js"></script>
<script type="text/javascript" src="static/js/bootstrap-multitabs/multitabs.min.js"></script>
<script type="text/javascript" src="static/js/jquery.cookie.min.js"></script>
<script type="text/javascript" src="static/js/index.min.js"></script>
<script type="text/javascript" src="static/js/main.min.js"></script>
<script type="text/javascript" src="static/js/Chart.min.js"></script>
<script type="text/javascript" src="static/js/jquery.cookie.min.js"></script>
<script type="text/javascript" src="static/js/bootstrap-maxlength/bootstrap-maxlength.min.js"></script>
<script type="text/javascript" src="static/js/jquery-tagsinput/jquery.tagsinput.min.js"></script>
<script type="text/javascript" src="static/js/jquery-confirm/jquery-confirm.min.js"></script>
<script type="text/javascript" src="static/js/bootstrap-table/bootstrap-table.min.js"></script>
<script type="text/javascript" src="static/js/bootstrap-table/extensions/export/bootstrap-table-export.min.js"></script>
<script type="text/javascript" src="static/js/tableExport.min.js"></script>
<script type="text/javascript" src="static/js/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
<script type="text/javascript" src="static/js/jquery-treegrid/jquery.treegrid.min.js"></script>
<script type="text/javascript" src="static/js/moment.js/moment.min.js"></script>
<script type="text/javascript" src="static/js/moment.js/locale/zh-cn.min.js"></script>
<script type="text/javascript" src="static/js/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript"
        src="static/js/bootstrap-table/extensions/treegrid/bootstrap-table-treegrid.min.js"></script>
<script type="text/javascript" src="static/js/myutils.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        accessControl();
        // 在页面加载完成后，从模板上下文中获取 audit_infos 变量
        var averageInfos = {{ average_infos | tojson | default('[]') }};
        // 向后端获取数据填充table
        $('#tb_departments').bootstrapTable({
            data: averageInfos,
            classes: 'table table-bordered table-hover table-striped',
            dataType: 'jsonp',            // 因为本示例中是跨域的调用,所以涉及到ajax都采用jsonp,
            uniqueId: 'id',
            idField: 'id',              // 每行的唯一标识字段
            toolbar: '#toolbar',        // 工具按钮容器
            clickToSelect: false,       // 是否启用点击选中行
            striped: true,              // 是否显示行间隔色
            showColumns: true,         // 是否显示所有的列
            showRefresh: false,         // 是否显示刷新按钮,这个按钮这一般是在客户端分页的情况下使用
            showToggle: false,          // 是否显示详细视图和列表视图的切换按钮(clickToSelect同时设置为true时点击会报错)
            cache: false,               // 不缓存数据
            pagination: true,                    // 是否显示分页
            sortOrder: "asc",                    // 排序方式
            // 传递参数
            queryParams: function (params) {
                var temp = {
                    limit: params.limit,         // 每页数据量
                    offset: params.offset,       // sql语句起始索引
                    page: (params.offset / params.limit) + 1,
                    sort: params.sort,           // 排序的列名
                    sortOrder: params.order      // 排序方式'asc' 'desc'
                };
                return temp;
            },
            sidePagination: "client",            // 分页方式：client客户端分页，server服务端分页
            pageNumber: 1,                       // 初始化加载第一页，默认第一页
            pageSize: 10,                        // 每页的记录行数
            pageList: [10, 20, 50, 100],         // 可供选择的每页的行数
            search: false,                      // 是否显示表格搜索，此搜索是客户端搜索
            showExport: true,        // 是否显示导出按钮, 导出功能需要导出插件支持(tableexport.min.js)
            exportDataType: "all", // 导出数据类型, 'basic':当前页, 'all':所有数据, 'selected':选中的数据
            columns: [
            // {
            //     field: 'example',
            //     checkbox: true    // 是否显示复选框
            // },
            //     {
            //     field: 'id', //columns里的field的值必须和后端返回的字段名一样
            //     title: 'ID', //columns里的title的值就是表格列名
            //     sortable: true,    // 是否排序
            //     align: 'center',
            // },
            {
                field: 'year',
                title: '年度',
                align: 'center',
            },{
                field: 'semester',
                title: '学期',
                align: 'center',
            },{
                field: 'username',
                title: '学生学号',
                align: 'center',
            }, {
                field: 'name',
                title: '学生姓名',
                align: 'center',
            }, {
                field: 'average_score',
                title: '平均分',
                align: 'center',
                sortable: true
            }, {
                field: 'operate',
                title: '操作',
                align: 'center',
                formatter: btnHandle,  // 自定义方法
                events: {
                    'click .info-btn': function (event, value, row, index) {
                        infoRole(row);
                    },
                }
            }],
        })
        $('#tb_departments').bootstrapTable('hideLoading'); // 手动关闭加载提示

    });

    // 操作按钮
    function btnHandle() {
        let html =
            '<a href="#!" class="btn btn-xs btn-default m-r-5 info-btn" title="详情" data-toggle="tooltip"><i class="mdi mdi-information-outline"></i></a>';
        return html;
    }

    function infoRole(row) {
        const { year, semester, username } = row;
        $.getJSON(`/achievement_search?year=${year}&semester=${semester}&student_no=${username}`, function(data) {
            // 将接口返回的完整数据传递给 displayAchievementDetails 函数
            displayAchievementDetails(data);
            // 显示模态窗口
            $('#achievementModal').modal('show');
        });
    }

    function displayAchievementDetails(data) {
        const $tableBody = $('#achievementTable tbody');
        $tableBody.empty(); // 清空之前的数据

        // 遍历返回的 rows 数组
        data.rows.forEach(item => {
            const row = `
            <tr>
                <td>${item.course_year}</td>
                <td>${item.course_semester}</td>
                <td>${item.course_number}</td>
                <td>${item.course_name}</td>
                <td>${item.user_username}</td>
                <td>${item.user_name}</td>
                <td>${item.achievement_score}</td>
            </tr>
        `;
            $tableBody.append(row);
        });
    }

    $(function () {
        // 初始化表格
        $('#tb_departments').bootstrapTable({
            columns: [
                {
                    field: 'state',
                    checkbox: true,
                },
                {
                    field: 'id',
                    title: 'ID',
                },
                {
                    field: 'op_event',
                    title: 'op_event',
                },
                // 其他列...
            ],
            // 其他配置...
        });

    });

    $(document).ready(function () {
        // 选择年度和学期输入框
        var $yearInput = $('.form-control[name="year"]');
        var $semesterInput = $('.form-control[name="semester"]');

        // 初始化：禁用学期输入框
        $semesterInput.prop('disabled', true);

        // 监听年度输入框的变化
        $yearInput.on('input', function () {
            // 如果年度有值，则启用学期输入框；否则禁用学期输入框
            if ($yearInput.val().trim() !== '') {
                $semesterInput.prop('disabled', false);
            } else {
                $semesterInput.prop('disabled', true);
                $semesterInput.val(''); // 清空学期输入框的内容
            }
        });

        // 监听“搜索”按钮的点击事件
        $('#search_btn').on('click', function () {
            // 如果年度为空，则显示提示并阻止搜索
            if ($yearInput.val().trim() === '') {
                alert('请先输入年度！');
                return;
            }

            // 获取年度和学期的值
            var time_info = {
                year: $yearInput.val().trim(),
                semester: $semesterInput.val().trim()
            };

            // 发起请求，加载数据
            $.getJSON('/average?year=' + time_info.year + '&semester=' + time_info.semester, function (data) {
                // 将年份和学期添加到每一行数据中
                var updatedData = data.rows.map(row => {
                    return {
                        ...row,
                        year: time_info.year,
                        semester: time_info.semester
                    };
                });

                // 加载更新后的数据到表格
                $('#tb_departments').bootstrapTable('load', updatedData);
            });
        });

        // 重置按钮
        $('.reset_btn').on('click', function () {
            $yearInput.val('');
            $semesterInput.val('');
            $semesterInput.prop('disabled', true); // 重置时禁用学期输入框
        });
    });
</script>
<!-- 模态窗口 -->
<div class="modal fade" id="achievementModal" tabindex="-1" role="dialog" aria-labelledby="achievementModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="achievementModalLabel">成绩详情</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table id="achievementTable" class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>年度</th>
                        <th>学期</th>
                        <th>课程编号</th>
                        <th>课程名称</th>
                        <th>学生学号</th>
                        <th>学生姓名</th>
                        <th>成绩</th>
                    </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>