<!DOCTYPE html>
<html lang="zh">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <title>课程管理</title>
    <link rel="shortcut icon" type="image/x-icon" href="static/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <link rel="stylesheet" type="text/css" href="static/css/materialdesignicons.min.css">
    <link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="static/js/bootstrap-multitabs/multitabs.min.css">
    <link rel="stylesheet" type="text/css" href="static/js/jquery-confirm/jquery-confirm.min.css">
    <link rel="stylesheet" type="text/css" href="static/css/animate.min.css">
    <link rel="stylesheet" type="text/css" href="static/css/style.min.css">
    <style>
        /* 为每个按钮添加左右间距 */
        .btn-spacing {
            margin-left: 9px;
            margin-right: 9px;
        }
    </style>
</head>
<style>
    /* 默认的搜索框 */
    .lyear-search {
        position: relative;
        z-index: 0;
        display: -webkit-inline-box;
        display: inline-flex;
    }

    .lyear-search input {
        width: 300px;
        padding-left: 35px;
        -webkit-transition: .5s;
        transition: .5s;
    }

    .toolbar-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .button-group {
        display: flex;
        gap: 10px; /* 控制按钮之间的间距 */
    }

    .search-group {
        display: flex;
        gap: 20px; /* 控制搜索框之间的间距 */
    }

    #btn_delete {
        margin-left: 10px;
    }

</style>
<body>

<!--页面主要内容-->

<div class="container-fluid p-t-15">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div id="toolbar" class="toolbar-btn-action">
                        <div class="row">
<!--                        <div class="col-md-6">-->
                            <div class="col-md-12 d-flex justify-content-start mb-3">
                                <!-- 新增和批量删除按钮 -->
                                <button id="btn_add" type="button" class="btn btn-info btn-spacing" data-toggle="modal"
                                        data-target="#exampleModalChange" style="display: none;">
                                    <span class="mdi mdi-plus" aria-hidden="true"></span>新增
                                </button>
                                <button id="btn_delete" type="button" class="btn btn-danger btn-spacing" style="display: none;">
                                    <span class="mdi mdi-window-close" aria-hidden="true"></span>批量删除
                                </button>
                                <button id="btn_import" type="button" class="btn btn-success btn-spacing" data-toggle="modal"
                                        data-target="#importModal" style="display: none;">
                                    <span class="mdi mdi-file-excel" aria-hidden="true"></span>批量导入
                                </button>
                            </div>
<!--                            <div class="search-group">-->
<!--                                &lt;!&ndash; 搜索按钮和输入框 &ndash;&gt;-->
<!--                                <form class="lyear-search lyear-search-left lyear-search-rounder">-->
<!--                                    <div class="input-group">-->
<!--                                        <input type="text" name="searchInput" id="searchInput" class="form-control"-->
<!--                                               placeholder="根据编号和课程名称搜索">-->
<!--                                        <div class="input-group-btn">-->
<!--                                            <button id="btn_search" type="button" class="btn btn-default">搜索</button>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </form>-->
<!--                                <form class="lyear-search lyear-search-left lyear-search-rounder">-->
<!--                                    <div class="input-group">-->
<!--                                        <input type="text" name="searchteachernameInput" id="searchteachernameInput" class="form-control"-->
<!--                                               placeholder="根据老师姓名搜索">-->
<!--                                        <div class="input-group-btn">-->
<!--                                            <button id="btn_teachername_search" type="button" class="btn btn-default">搜索</button>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </form>-->
<!--                            </div>-->
                        </div>
                        <div class="modal fade" id="importModal" tabindex="-1" role="dialog" aria-labelledby="importModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="importModalLabel">批量导入课程</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p>请选择Excel文件进行上传，文件表头如下：</p>
                                        <p><strong>编号，课程名，学分，年度，学期，开课时间，结课时间，授课时间，授课地点，授课老师编号</strong></p>
                                        <input type="file" id="fileInput" accept=".xlsx, .xls" class="form-control-file">
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                                        <button type="button" id="btn-upload" class="btn btn-primary">上传文件</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--这里是模拟一个弹出框添加条目-->
                        <div class="modal fade" id="exampleModalChange" tabindex="-1" role="dialog"
                             aria-labelledby="exampleModalChangeLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h6 class="modal-add-title" id="exampleModalChangeTitle">添加条目</h6>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form>
                                            <div class="form-group">
                                                <label for="course-add-number" class="col-form-label">课程编号</label>
                                                <input type="text" class="form-control" id="course-add-number"
                                                       maxlength="32"
                                                       placeholder="请输入课程编号">
                                            </div>
                                            <div class="form-group">
                                                <label for="course-add-name" class="col-form-label">课程名字</label>
                                                <input type="text" class="form-control" id="course-add-name"
                                                       maxlength="32"
                                                       placeholder="请输入课程名">
                                            </div>
                                            <div class="form-group">
                                                <label for="course-add-credits" class="col-form-label">学分</label>
                                                <input type="text" class="form-control" id="course-add-credits"
                                                       maxlength="32"
                                                       placeholder="请输入课程学分">
                                            </div>
                                            <div class="form-group">
                                                <label for="course-add-year" class="col-form-label">年度</label>
                                                <input type="text" class="form-control" id="course-add-year"
                                                       maxlength="32"
                                                       placeholder="请输入课程年度">
                                            </div>
                                            <div class="form-group">
                                                <label for="course-add-semester" class="col-form-label">学期</label>
                                                <input type="text" class="form-control" id="course-add-semester"
                                                       maxlength="32"
                                                       placeholder="请输入课程学期">
                                            </div>
                                            <div class="form-group">
                                                <label for="course-add-startdate" class="col-form-label">开课时间</label>
                                                <input type="date" class="form-control" id="course-add-startdate"
                                                       maxlength="32"
                                                       placeholder="请输入课程开课时间">
                                            </div>
                                            <div class="form-group">
                                                <label for="course-add-enddate" class="col-form-label">结课时间</label>
                                                <input type="date" class="form-control" id="course-add-enddate"
                                                       maxlength="32"
                                                       placeholder="请输入课程结课时间">
                                            </div>
                                            <div id="error_message1" style="color: red"></div>
                                            <div class="form-group">
                                                <label for="course-add-time" class="col-form-label">授课时间</label>
                                                <input type="text" class="form-control" id="course-add-time"
                                                       maxlength="32"
                                                       placeholder="请输入授课时间">
                                            </div>
                                            <div class="form-group">
                                                <label for="course-add-place" class="col-form-label">授课地点</label>
                                                <input type="text" class="form-control" id="course-add-place"
                                                       maxlength="32"
                                                       placeholder="请输入授课地点">
                                            </div>
                                            <div class="form-group">
                                                <label for="course-add-teachernum" class="col-form-label">授课老师编号</label>
                                                <div class="input-group">
                                                    <input type="text" class="form-control" id="course-add-teachernum"
                                                           maxlength="32"
                                                           placeholder="请输入授课老师编号">
                                                    <div class="input-group-append">
                                                        <button id="btn-validate-teacher" type="button" class="btn btn-primary">校验</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="teacher-info" class="mt-2" style="display: none; color: #007bff;"></div>
<!--                                            <div class="form-group">-->
<!--                                                <label for="course-add-stunumber" class="col-form-label">授课人数</label>-->
<!--                                                <input type="text" class="form-control" id="course-add-stunumber"-->
<!--                                                       maxlength="3"-->
<!--                                                       placeholder="请输入授课人数">-->
<!--                                            </div>-->
<!--                                            <div id="error_message2" style="color: red"></div>-->


                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭
                                        </button>
                                        <button type="button" id="btn-add" class="btn btn-primary">保存</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--这里是一个编辑条目的模态框-->
                        <div class="modal fade" id="exampleModalEdit" tabindex="-1" role="dialog"
                             aria-labelledby="exampleModalChangeLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h6 class="modal-edit-title" id="exampleModalEditTitle"></h6>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form>
                                            <div class="form-group">
                                                <label for="course-edit-number" class="col-form-label">课程编号</label>
                                                <input type="text" class="form-control" id="course-edit-number">
                                            </div>
                                            <div class="form-group">
                                                <label for="course-edit-name" class="col-form-label">课程名</label>
                                                <input type="text" class="form-control" id="course-edit-name">
                                            </div>
                                            <div class="form-group">
                                                <label for="course-edit-credits" class="col-form-label">学分</label>
                                                <input type="text" class="form-control" id="course-edit-credits">
                                            </div>
                                            <div class="form-group">
                                                <label for="course-edit-year" class="col-form-label">年度</label>
                                                <input type="text" class="form-control" id="course-edit-year">
                                            </div>
                                            <div class="form-group">
                                                <label for="course-edit-semester" class="col-form-label">学期</label>
                                                <input type="text" class="form-control" id="course-edit-semester">
                                            </div>
                                            <div class="form-group">
                                                <label for="course-edit-startdate" class="col-form-label">开课时间</label>
                                                <input type="date" class="form-control" id="course-edit-startdate">
                                            </div>
                                            <div class="form-group">
                                                <label for="course-edit-enddate" class="col-form-label">结课时间</label>
                                                <input type="date" class="form-control" id="course-edit-enddate">
                                            </div>
                                            <div class="form-group">
                                                <label for="course-edit-time" class="col-form-label">授课时间</label>
                                                <input type="text" class="form-control" id="course-edit-time">
                                            </div>
                                            <div class="form-group">
                                                <label for="course-edit-place" class="col-form-label">授课地点</label>
                                                <input type="text" class="form-control" id="course-edit-place">
                                            </div>
                                            <div class="form-group">
                                                <label for="course-edit-teachernum" class="col-form-label">授课老师编号</label>
                                                <div class="input-group">
                                                    <input type="text" class="form-control" id="course-edit-teachernum">
                                                    <div class="input-group-append">
                                                        <button id="btn-validate-edit-teacher" type="button" class="btn btn-primary">校验</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="edit-teacher-info" class="mt-2" style="display: none; color: #007bff;"></div>
<!--                                            <div class="form-group">-->
<!--                                                <label for="course-edit-stunumber" class="col-form-label">授课人数</label>-->
<!--                                                <input type="text" class="form-control" id="course-edit-stunumber">-->
<!--                                            </div>-->
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消
                                        </button>
                                        <button type="button" id="btn-edit-save" class="btn btn-primary">保存
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                    <table id="tb_departments">
                        <thead class="thead-dark">
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!--End 页面主要内容-->

<script type="text/javascript" src="static/js/jquery.min.js"></script>
<script type="text/javascript" src="static/js/popper.min.js"></script>
<script type="text/javascript" src="static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="static/js/perfect-scrollbar.min.js"></script>
<script type="text/javascript" src="static/js/jquery.cookie.min.js"></script>
<script type="text/javascript" src="static/js/bootstrap-notify.min.js"></script>
<script type="text/javascript" src="static/js/bootstrap-multitabs/multitabs.min.js"></script>
<script type="text/javascript" src="static/js/jquery.cookie.min.js"></script>
<script type="text/javascript" src="static/js/index.min.js"></script>
<script type="text/javascript" src="static/js/main.min.js"></script>
<script type="text/javascript" src="static/js/Chart.min.js"></script>
<script type="text/javascript" src="static/js/jquery.cookie.min.js"></script>
<script type="text/javascript" src="static/js/bootstrap-maxlength/bootstrap-maxlength.min.js"></script>
<script type="text/javascript" src="static/js/jquery-tagsinput/jquery.tagsinput.min.js"></script>
<script type="text/javascript" src="static/js/jquery-confirm/jquery-confirm.min.js"></script>
<script type="text/javascript" src="static/js/bootstrap-table/bootstrap-table.min.js"></script>
<script type="text/javascript" src="static/js/bootstrap-table/extensions/export/bootstrap-table-export.min.js"></script>
<script type="text/javascript" src="static/js/tableExport.min.js"></script>
<script type="text/javascript" src="static/js/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
<script type="text/javascript" src="static/js/jquery-treegrid/jquery.treegrid.min.js"></script>
<script type="text/javascript"
        src="static/js/bootstrap-table/extensions/treegrid/bootstrap-table-treegrid.min.js"></script>
<script type="text/javascript" src="static/js/myutils.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        accessControl();
        // 在页面加载完成后，从模板上下文中获取 teacher_infos 变量
        var courseInfos = {{course_infos | tojson}};
        // 向后端获取数据填充table
        $('#tb_departments').bootstrapTable({
            data: courseInfos,
            classes: 'table table-bordered table-hover table-striped',
            dataType: 'jsonp',            // 因为本示例中是跨域的调用,所以涉及到ajax都采用jsonp,
            uniqueId: 'id',
            idField: 'id',              // 每行的唯一标识字段
            toolbar: '#toolbar',        // 工具按钮容器
            clickToSelect: false,       // 是否启用点击选中行
            striped: true,              // 是否显示行间隔色
            showColumns: true,         // 是否显示所有的列
            showRefresh: false,         // 是否显示刷新按钮,这个按钮这一般是在客户端分页的情况下使用
            showToggle: false,          // 是否显示详细视图和列表视图的切换按钮(clickToSelect同时设置为true时点击会报错)
            cache: false,               // 不缓存数据
            pagination: true,                    // 是否显示分页
            sortOrder: "asc",                    // 排序方式
            // 传递参数
            queryParams: function (params) {
                var temp = {
                    limit: params.limit,         // 每页数据量
                    offset: params.offset,       // sql语句起始索引
                    page: (params.offset / params.limit) + 1,
                    sort: params.sort,           // 排序的列名
                    sortOrder: params.order      // 排序方式'asc' 'desc'
                };
                return temp;
            },
            sidePagination: "client",            // 分页方式：client客户端分页，server服务端分页
            pageNumber: 1,                       // 初始化加载第一页，默认第一页
            pageSize: 10,                        // 每页的记录行数
            pageList: [10, 20, 50, 100],         // 可供选择的每页的行数
            search: true,                      // 是否显示表格搜索，此搜索是客户端搜索
            showExport: true,        // 是否显示导出按钮, 导出功能需要导出插件支持(tableexport.min.js)
            exportDataType: "all", // 导出数据类型, 'basic':当前页, 'all':所有数据, 'selected':选中的数据
            columns: [{
                field: 'example',
                checkbox: true    // 是否显示复选框
            }, {
                field: 'id', //columns里的field的值必须和后端返回的字段名一样
                title: 'ID', //columns里的title的值就是表格列名
                sortable: true,    // 是否排序
                align: 'center',
                visible: false,
            }, {
                field: 'number',
                title: '编号',
                align: 'center',
            },{
                field: 'name',
                title: '课程名',
                align: 'center',
            },{
                field: 'credits',
                title: '学分',
                align: 'center',
            },{
                field: 'year',
                title: '年度',
                align: 'center',
            },{
                field: 'semester',
                title: '学期',
                align: 'center',
            }, {
                field: 'startdate',
                title: '开课时间',
                align: 'center',
                formatter: function(value) {
                    if (value) {
                        let date = new Date(value);
                        let year = date.getFullYear();
                        let month = String(date.getMonth() + 1).padStart(2, '0'); // 月份从0开始计数
                        let day = String(date.getDate()).padStart(2, '0');
                        return `${year}-${month}-${day}`;
                    }
                    return '';
                }
            },{
                field: 'enddate',
                title: '结课时间',
                align: 'center',
                formatter: function(value) {
                    if (value) {
                        let date = new Date(value);
                        let year = date.getFullYear();
                        let month = String(date.getMonth() + 1).padStart(2, '0'); // 月份从0开始计数
                        let day = String(date.getDate()).padStart(2, '0');
                        return `${year}-${month}-${day}`;
                    }
                    return '';
                }
            },{
                field: 'teaching_time',
                title: '授课时间',
                align: 'center',

            }, {
                field: 'teaching_place',
                title: '授课地点',
                align: 'center',
            }, {
                field: 'teacher_name',
                title: '授课老师',
                align: 'center',
            },
            //     {
            //     field: 'allow_stu_num',
            //     title: '授课人数',
            //     align: 'center',
            // }, {
            //     field: 'selected_stu_num',
            //     title: '已选人数',
            //     align: 'center',
            // },
                {
                field: 'operate',
                title: '操作',
                align: 'center',
                formatter: btnHandle,  // 自定义方法
                events: {
                    'click .edit-btn': function (event, value, row, index) {
                        editRole(row);
                    },
                    'click .del-btn': function (event, value, row, index) {
                        deleteRole(row);
                    }
                }
            }],

            onLoadSuccess: function (data) {
                console.log("aaaaaa");

                $("[data-toggle='tooltip']").tooltip();


            }
        })
        $('#tb_departments').bootstrapTable('hideLoading'); // 手动关闭加载提示

    });

    $(function () {
        $('#btn-validate-teacher').click(function () {
            var teacherNo = $('#course-add-teachernum').val();
            if (!teacherNo) {
                alert('请输入教师编号');
                return;
            }

            // 使用 AJAX 向后端发送请求
            $.ajax({
                url: '/teacher?teacher_no=' + encodeURIComponent(teacherNo),
                type: 'GET',
                success: function (data) {
                    if (data.success) {
                        // 显示返回的课程信息
                        console.log(data);
                        $('#teacher-info').html(
                            `<p><strong>教师编号:</strong> ${data.teacher_info.number}</p>
                         <p><strong>教师姓名:</strong> ${data.teacher_info.name}</p>`
                        ).show();
                    } else {
                        $('#teacher-info').html(
                            `<p><strong>${data.message}</strong></p>`
                        ).show();
                    }
                },
                error: function () {
                    alert('请求失败，请稍后重试');
                    $('#teacher-info').hide();
                }
            });
        });
    });

    $(function () {
        $('#btn-validate-edit-teacher').click(function () {
            var teacherNo = $('#course-edit-teachernum').val();
            if (!teacherNo) {
                alert('请输入教师编号');
                return;
            }

            // 使用 AJAX 向后端发送请求
            $.ajax({
                url: '/teacher?teacher_no=' + encodeURIComponent(teacherNo),
                type: 'GET',
                success: function (data) {
                    if (data.success) {
                        // 显示返回的课程信息
                        console.log(data);
                        $('#edit-teacher-info').html(
                            `<p><strong>教师编号:</strong> ${data.teacher_info.number}</p>
                         <p><strong>教师姓名:</strong> ${data.teacher_info.name}</p>`
                        ).show();
                    } else {
                        $('#edit-teacher-info').html(
                            `<p><strong>${data.message}</strong></p>`
                        ).show();
                    }
                },
                error: function () {
                    alert('请求失败，请稍后重试');
                    $('#edit-teacher-info').hide();
                }
            });
        });
    });

    // 在模态框关闭时清除课程和学生信息
    $('#exampleModalChange').on('hide.bs.modal', function () {
        // 清空课程和学生信息内容
        $('#teacher-info').html('').hide();
    });
    $('#exampleModalEdit').on('hide.bs.modal', function () {
        // 清空课程和学生信息内容
        $('#edit-teacher-info').html('').hide();
    });

    $(function () {
        // 添加课程
        $('#btn-add').click(function () {
            var number = $('#course-add-number').val();
            var name = $('#course-add-name').val();
            var credits = $('#course-add-credits').val();
            var year = $('#course-add-year').val();
            var semester = $('#course-add-semester').val();
            var startdate = $('#course-add-startdate').val();
            var enddate = $('#course-add-enddate').val();
            var time = $('#course-add-time').val();
            var place = $('#course-add-place').val();
            var teachernum = $('#course-add-teachernum').val();
            // var stunumber = $('#course-add-stunumber').val();
            if (!validateStringLength(name, 1, 32)) {
                document.getElementById("error_message1").textContent = "课程名长度不合法";
                return;
            }
            ;

            if (!validateStringLength(time, 1, 32)) {
                document.getElementById("error_message2").textContent = "授课时间长度不合法";
                return;
            }
            ;

            if (!validateStringLength(place, 1, 32)) {
                document.getElementById("error_message2").textContent = "授课地点长度不合法";
                return;
            }
            ;


            sendPostRequest('/course/add', {
                number: number,
                name: name,
                credits: credits,
                year: year,
                semester: semester,
                startdate: startdate,
                enddate:enddate,
                teachingTime: time,
                teachingPlace: place,
                teachernum: teachernum,
            }, function (data) {
                if (data.success) {
                    // 前端更新表格数据，添加该条目（仅仅是前端更新）
                    // location.reload();  // 刷新页面
                    $('#tb_departments').bootstrapTable('append', {
                        number: number,
                        name: name,
                        credits: credits,
                        year: year,
                        semester: semester,
                        startdate: startdate,
                        enddate:enddate,
                        teaching_time: time,
                        teaching_place: place,
                        teacher_name: data.teacher_name,
                    });
                    notice(data.message, 'success');
                } else {
                    notice(data.message, 'danger');
                }
            }, function (error) {
                console.error('Error:', error);
                notice(error.statusMessage, 'danger');
            });
            // 关闭模态框
            $('#exampleModalChange').modal('hide');
        });
        // 初始化表格
        $('#tb_departments').bootstrapTable({
            columns: [
                {
                    field: 'state',
                    checkbox: true,
                },
                {
                    field: 'id',
                    title: 'ID',
                },
                {
                    field: 'name',
                    title: 'name',
                },
                // 其他列...
            ],
            // 其他配置...
        });

        // 查询按钮添加点击事件
        $('#btn_search').click(function () {
            // 获取查询输入框的内容
            var keywords = $('#searchInput').val();
            // 发起 AJAX 请求
            $.getJSON('/course?query=' + encodeURIComponent(keywords), function (data) {
                // 使用 bootstrapTable('load', data.rows) 更新表格
                $('#tb_departments').bootstrapTable('load', data);
            });
        });
        // 查询按钮添加点击事件
        $('#btn_teachername_search').click(function () {
            // 获取查询输入框的内容
            var keywords = $('#searchteachernameInput').val();
            // 发起 AJAX 请求
            $.getJSON('/course?teacher_name=' + encodeURIComponent(keywords), function (data) {
                // 使用 bootstrapTable('load', data.rows) 更新表格
                $('#tb_departments').bootstrapTable('load', data);
            });
        });
        // 为批量删除按钮添加点击事件
        $('#btn_delete').click(function () {
            var selectedRows = $('#tb_departments').bootstrapTable('getSelections');
            if (selectedRows.length == 0) {
                $.notify({message: "请至少选择一行"}, {type: 'warning', delay: 1000, placement: {align: 'center'}});
                return;
            }
            var selectedIds = [];

            // 遍历所有选中的行，并收集它们的ID值
            $.each(selectedRows, function (index, row) {
                selectedIds.push(row.id);
            });
            // 输出选中的ID值
            // console.log(selectedIds);
            // 发送 AJAX 请求
            sendPostRequest('/course/delete', {ids: selectedIds}, function (data) {
                if (data.success) {
                    // 成功删除后，从表格中移除对应的条目
                    $('#tb_departments').bootstrapTable('remove', {
                        field: 'id',
                        values: selectedIds
                    });
                    notice(data.message, 'success');

                } else {
                    // 显示错误消息
                    notice(data.message, 'error');
                }
            }, function (error) {
                console.error('Error:', error);
                notice(error.statusMessage, 'danger');
            });
        });
    });

    // 操作按钮
    function btnHandle() {
        let html =
            '<a href="#!" class="btn btn-xs btn-default m-r-5 edit-btn" title="编辑" data-toggle="tooltip"><i class="mdi mdi-pencil"></i></a>' +
            '<a href="#!" class="btn btn-xs btn-default del-btn" title="删除" data-toggle="tooltip"><i class="mdi mdi-window-close"></i></a>';
        return html;
    }

    // 操作方法 - 编辑条目弹出框
    function editRole(row) {
        // 填充模态框中的表单
        $('#exampleModalEdit #exampleModalEditTitle').text('编辑条目');
        $('#exampleModalEdit #course-edit-number').val(row.number);
        $('#exampleModalEdit #course-edit-name').val(row.name);
        $('#exampleModalEdit #course-edit-credits').val(row.credits);
        $('#exampleModalEdit #course-edit-year').val(row.year);
        $('#exampleModalEdit #course-edit-semester').val(row.semester);
        if (row.startdate) {
            const date = new Date(row.startdate);
            const formattedDate = date.toISOString().split('T')[0]; // 转换为 YYYY-MM-DD
            $('#course-edit-startdate').val(formattedDate);
        }
        if (row.enddate) {
            const date = new Date(row.enddate);
            const formattedDate = date.toISOString().split('T')[0]; // 转换为 YYYY-MM-DD
            $('#course-edit-enddate').val(formattedDate);
        }
        $('#exampleModalEdit #course-edit-time').val(row.teaching_time);
        $('#exampleModalEdit #course-edit-place').val(row.teaching_place);
        $('#exampleModalEdit #course-edit-teachernum').val(row.teacher_number);
        // $('#exampleModalEdit #course-edit-stunumber').val(row.allow_stu_num);
        // 存储当前行的 id
        var currentRowId = row.id;
        // 显示模态框
        $('#exampleModalEdit').modal('show');

        // 将 id 作为数据附加到保存按钮上
        $('#btn-edit-save').data('current-row-id', currentRowId);
    }

    // 编辑角色保存
    $('#btn-edit-save').click(function () {
        // 从按钮数据中获取当前行的 id
        var currentRowId = $(this).data('current-row-id');
        var number = $('#exampleModalEdit #course-edit-number').val();
        var name = $('#exampleModalEdit #course-edit-name').val();
        var credits = $('#exampleModalEdit #course-edit-credits').val();
        var year = $('#exampleModalEdit #course-edit-year').val();
        var semester = $('#exampleModalEdit #course-edit-semester').val();
        var startdate = $('#exampleModalEdit #course-edit-startdate').val();
        var enddate = $('#exampleModalEdit #course-edit-enddate').val();
        var updateTime = $('#exampleModalEdit #course-edit-time').val();
        var updatePlace = $('#exampleModalEdit #course-edit-place').val();
        var teachernum = $('#exampleModalEdit #course-edit-teachernum').val();
        // var updateNumber = $('#exampleModalEdit #course-edit-stunumber').val();
        sendPostRequest('/course/update', {
            number: number,
            name: name,
            credits: credits,
            year: year,
            semester: semester,
            startdate: startdate,
            enddate:enddate,
            updateTime: updateTime,
            updatePlace: updatePlace,
            teachernum: teachernum,
            // updateNumber: updateNumber,
        }, function (data) {
            if (data.success) {
                notice(data.message, 'success');
                // 前端更新表格数据，添加该条目（仅仅是前端更新）
                $('#tb_departments').bootstrapTable('updateByUniqueId', {
                    // index: currentRowId - 1, // 使用 id 获取行索引
                    id: currentRowId,  // 用 username 作为唯一标识
                    row: {
                        id: currentRowId, // 使用获取到的 id
                        number: number,
                        name: name,
                        credits: credits,
                        year: year,
                        semester: semester,
                        startdate: startdate,
                        enddate:enddate,
                        teaching_time: updateTime,
                        teaching_place: updatePlace,
                        teacher_name: data.teacher_name,
                        // allow_stu_num: updateNumber
                    }
                });
            } else {
                notice(data.message, 'danger');

            }
        }, function (error) {
            console.error('Error:', error);
            notice('服务端错误', 'danger');

        });
        // 提交后关闭模态框
        $('#exampleModalEdit').modal('hide');
    });

    // 操作方法 - 删除单个条目
    function deleteRole(row) {
        var selectedRows = $('#tb_departments').bootstrapTable('getSelections');
        if (selectedRows.length !== 1) {
            notice("请先选中该行", 'warning');
            return;
        }
        var rowId = selectedRows[0].id;
        // 确认是否删除
        $.confirm({
            title: '操作确认',
            escapeKey: true,
            content: '确定要删除此条目吗？<br>注：如果成绩表中有对应的课程，会删除失败',
            backgroundDismiss: true,
            buttons: {
                okay: {
                    text: '确认',
                    keys: ['enter'],
                    btnClass: 'btn-blue',
                    action: function () {
                        // 发送 DELETE 请求到后端
                        sendPostRequest('/course/delete', {id: rowId}, function (data) {
                            if (data.success) {
                                // 成功删除后，从表格中移除对应的条目
                                $('#tb_departments').bootstrapTable('remove', {
                                    field: 'id',
                                    values: [rowId]
                                });
                                notice(data.message, 'success');
                            } else {
                                notice(data.message, 'danger');
                            }
                        }, function (error) {
                            console.error('Error:', error);
                            notice(error.statusMessage, 'danger');
                        });
                    }
                },
                cancel: {
                    text: '取消',
                    keys: ['ctrl', 'shift'],
                    action: function () {
                        return;
                    }
                }
            },
        });
    }
    $(document).ready(function () {
        $('#btn-upload').click(function () {
            const file = $('#fileInput')[0].files[0];
            if (!file) {
                alert('请先选择一个文件');
                return;
            }

            const formData = new FormData();
            formData.append('file', file);

            $.ajax({
                url: '/course/import',
                type: 'POST',
                data: formData,
                contentType: false,
                processData: false,
                success: function (response) {
                    if (response.success) {
                        alert('文件上传成功，课程已导入');
                        $('#importModal').modal('hide');
                        location.reload();  // 刷新页面
                    } else {
                        alert('导入失败：' + response.message);
                    }
                },
                error: function () {
                    alert('文件上传失败，请重试');
                }
            });
        });
    });

    function accessControl() {
        const role = localStorage.getItem('role');

        if (role === '1') {
            // 如果 role 等于 '1'，显示按钮
            document.getElementById('btn_add').style.display = 'inline-block';
            document.getElementById('btn_delete').style.display = 'inline-block';
            document.getElementById('btn_import').style.display = 'inline-block';
        } else {
            // 隐藏“操作”列
            $('#tb_departments').bootstrapTable('hideColumn', 'operate');
        }
    }

    // 页面加载时调用 accessControl 函数
    $(document).ready(function () {
        accessControl();
    });

</script>
</body>
</html>