<!DOCTYPE html>
<html lang="zh">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <title>成绩分级</title>
    <link rel="shortcut icon" type="image/x-icon" href="static/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <link rel="stylesheet" type="text/css" href="static/css/materialdesignicons.min.css">
    <link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="static/js/bootstrap-multitabs/multitabs.min.css">
    <link rel="stylesheet" type="text/css" href="static/js/jquery-confirm/jquery-confirm.min.css">
    <link rel="stylesheet" type="text/css" href="static/css/animate.min.css">
    <link rel="stylesheet" type="text/css" href="static/css/style.min.css">
    <style>
        /* 为每个按钮添加左右间距 */
        .btn-spacing {
            margin-left: 9px;
            margin-right: 9px;
        }
    </style>
</head>
<style>
    /* 默认的搜索框 */
    .lyear-search {
        position: relative;
        z-index: 0;
        display: -webkit-inline-box;
        display: inline-flex;
    }

    .lyear-search input {
        width: 400px;
        padding-left: 35px;
        -webkit-transition: .5s;
        transition: .5s;
    }

    #btn_delete {
        margin-left: 10px;
    }

</style>
<body>

<!--页面主要内容-->

<div class="container-fluid p-t-15">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div id="toolbar" class="toolbar-btn-action">
                        <div class="row">
<!--                        <div class="col-md-6">-->
                            <div class="col-md-12 d-flex justify-content-start mb-3">
                                <!-- 新增和批量删除按钮 -->
                                <button id="btn_add" type="button" class="btn btn-info btn-spacing" data-toggle="modal"
                                        data-target="#exampleModalChange" style="display: none;">
                                    <span class="mdi mdi-plus" aria-hidden="true"></span>新增
                                </button>
                                <button id="btn_delete" type="button" class="btn btn-danger btn-spacing" style="display: none;">
                                    <span class="mdi mdi-window-close" aria-hidden="true"></span>批量删除
                                </button>
                            </div>
                        </div>
                        <!--这里是模拟一个弹出框添加条目-->
                        <div class="modal fade" id="exampleModalChange" tabindex="-1" role="dialog"
                             aria-labelledby="exampleModalChangeLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h6 class="modal-add-title" id="exampleModalChangeTitle">添加条目</h6>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form>
                                            <div class="form-group">
                                                <label for="add-number" class="col-form-label">分级编号</label>
                                                <input type="text" class="form-control" id="add-number"
                                                       maxlength="64"
                                                       placeholder="请输入分级编号">
                                            </div>
                                            <div class="form-group">
                                                <label for="add-name" class="col-form-label">分级名称</label>
                                                <input type="text" class="form-control" id="add-name"
                                                       maxlength="32"
                                                       placeholder="请输入分级名称">
                                            </div>
                                            <div class="form-group">
                                                <label for="add-min" class="col-form-label">最小成绩</label>
                                                <input type="text" class="form-control" id="add-min"
                                                       maxlength="32"
                                                       placeholder="请输入最小成绩">
                                            </div>
                                            <div class="form-group">
                                                <label for="add-max" class="col-form-label">最大成绩</label>
                                                <input type="text" class="form-control" id="add-max"
                                                       maxlength="32"
                                                       placeholder="请输入最大成绩">
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭
                                        </button>
                                        <button type="button" id="btn-add" class="btn btn-primary">保存</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--这里是一个编辑条目的模态框-->
                        <div class="modal fade" id="exampleModalEdit" tabindex="-1" role="dialog"
                             aria-labelledby="exampleModalChangeLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h6 class="modal-edit-title" id="exampleModalEditTitle"></h6>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form>
                                            <div class="form-group">
                                                <label for="edit-number" class="col-form-label">分级编号</label>
                                                <input type="text" class="form-control" id="edit-number">
                                            </div>
                                            <div class="form-group">
                                                <label for="edit-name" class="col-form-label">分级名称</label>
                                                <input type="text" class="form-control" id="edit-name">
                                            </div>
                                            <div class="form-group">
                                                <label for="edit-min" class="col-form-label">最小成绩</label>
                                                <input type="text" class="form-control" id="edit-min">
                                            </div>
                                            <div class="form-group">
                                                <label for="edit-max" class="col-form-label">最大成绩</label>
                                                <input type="text" class="form-control" id="edit-max">
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消
                                        </button>
                                        <button type="button" id="btn-edit-save" class="btn btn-primary">保存
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <table id="tb_departments">
                        <thead class="thead-dark">
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!--End 页面主要内容-->

<script type="text/javascript" src="static/js/jquery.min.js"></script>
<script type="text/javascript" src="static/js/popper.min.js"></script>
<script type="text/javascript" src="static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="static/js/perfect-scrollbar.min.js"></script>
<script type="text/javascript" src="static/js/jquery.cookie.min.js"></script>
<script type="text/javascript" src="static/js/bootstrap-notify.min.js"></script>
<script type="text/javascript" src="static/js/bootstrap-multitabs/multitabs.min.js"></script>
<script type="text/javascript" src="static/js/jquery.cookie.min.js"></script>
<script type="text/javascript" src="static/js/index.min.js"></script>
<script type="text/javascript" src="static/js/main.min.js"></script>
<script type="text/javascript" src="static/js/Chart.min.js"></script>
<script type="text/javascript" src="static/js/jquery.cookie.min.js"></script>
<script type="text/javascript" src="static/js/jquery-confirm/jquery-confirm.min.js"></script>
<script type="text/javascript" src="static/js/bootstrap-maxlength/bootstrap-maxlength.min.js"></script>
<script type="text/javascript" src="static/js/jquery-tagsinput/jquery.tagsinput.min.js"></script>
<script type="text/javascript" src="static/js/jquery-confirm/jquery-confirm.min.js"></script>
<script type="text/javascript" src="static/js/bootstrap-table/bootstrap-table.min.js"></script>
<script type="text/javascript" src="static/js/bootstrap-table/extensions/export/bootstrap-table-export.min.js"></script>
<script type="text/javascript" src="static/js/tableExport.min.js"></script>
<script type="text/javascript" src="static/js/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
<script type="text/javascript" src="static/js/jquery-treegrid/jquery.treegrid.min.js"></script>
<script type="text/javascript"
        src="static/js/bootstrap-table/extensions/treegrid/bootstrap-table-treegrid.min.js"></script>
<script type="text/javascript" src="static/js/myutils.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        accessControl();
        // 在页面加载完成后，从模板上下文中获取 gradelevelInfos 变量
        var gradelevelInfos = {{ gradelevel_infos | tojson | default('[]') }};
        console.log(gradelevelInfos)
        // 向后端获取数据填充table
        $('#tb_departments').bootstrapTable({
            data: gradelevelInfos,
            classes: 'table table-bordered table-hover table-striped',
            //url: 'http://127.0.0.1:5000/teacher11',
            //method: 'get',
            dataType: 'jsonp',            // 因为本示例中是跨域的调用,所以涉及到ajax都采用jsonp,
            uniqueId: 'id',
            idField: 'id',              // 每行的唯一标识字段
            toolbar: '#toolbar',        // 工具按钮容器
            clickToSelect: false,       // 是否启用点击选中行
            striped: true,              // 是否显示行间隔色
            showColumns: true,         // 是否显示所有的列
            showRefresh: false,         // 是否显示刷新按钮,这个按钮这一般是在客户端分页的情况下使用
            showToggle: false,          // 是否显示详细视图和列表视图的切换按钮(clickToSelect同时设置为true时点击会报错)
            cache: false,               // 不缓存数据
            pagination: true,                    // 是否显示分页
            sortOrder: "asc",                    // 排序方式
            // 传递参数
            queryParams: function (params) {
                var temp = {
                    limit: params.limit,         // 每页数据量
                    offset: params.offset,       // sql语句起始索引
                    page: (params.offset / params.limit) + 1,
                    sort: params.sort,           // 排序的列名
                    sortOrder: params.order      // 排序方式'asc' 'desc'
                };
                return temp;
            },
            sidePagination: "client",            // 分页方式：client客户端分页，server服务端分页
            pageNumber: 1,                       // 初始化加载第一页，默认第一页
            pageSize: 10,                        // 每页的记录行数
            pageList: [10, 20, 50, 100],         // 可供选择的每页的行数
            search: true,                      // 是否显示表格搜索，此搜索是客户端搜索
            showExport: true,        // 是否显示导出按钮, 导出功能需要导出插件支持(tableexport.min.js)
            exportDataType: "all", // 导出数据类型, 'basic':当前页, 'all':所有数据, 'selected':选中的数据
            columns: [{
                field: 'example',
                checkbox: true    // 是否显示复选框
            }, {
                field: 'id', //columns里的field的值必须和后端返回的字段名一样
                title: 'ID', //columns里的title的值就是表格列名
                sortable: true,    // 是否排序
                align: 'center',
                visible: false,
            }, {
                field: 'number',
                title: '分级编号',
                align: 'center',
            },{
                field: 'name',
                title: '分级名称',
                align: 'center',
                searchable: true
            }, {
                field: 'min_score',
                title: '最小成绩',
                align: 'center',
            },{
                field: 'max_score',
                title: '最大成绩',
                align: 'center',
            }, {
                field: 'operate',
                title: '操作',
                align: 'center',
                formatter: btnHandle,  // 自定义方法
                events: {
                    'click .edit-btn': function (event, value, row, index) {
                        editRole(row);
                    },
                    'click .del-btn': function (event, value, row, index) {
                        deleteRole(row);
                    }
                }
            }],

            onLoadSuccess: function (data) {
                console.log("aaaaaa");

                $("[data-toggle='tooltip']").tooltip();


            }
        })
        $('#tb_departments').bootstrapTable('hideLoading'); // 手动关闭加载提示

    });

    $(function () {
        // 添加成绩分级
        $('#btn-add').click(function () {
            var number = $('#add-number').val();
            var name = $('#add-name').val();
            var min_score = $('#add-min').val();
            var max_score = $('#add-max').val();
            sendPostRequest('/gradelevel/add', {
                number: number,
                name: name,
                min_score: parseInt(min_score),
                max_score: parseInt(max_score),
            }, function (data) {
                if (data.success) {
                    // 前端更新表格数据，添加该条目（仅仅是前端更新）
                    $('#tb_departments').bootstrapTable('append', {
                        number: number,
                        name: name,
                        min_score: min_score,
                        max_score: max_score,
                    });
                    notice(data.message, 'success');
                } else {
                    notice(data.message, 'danger');
                }
            }, function (error) {
                console.error('Error:', error);
                notice(error.statusMessage, 'danger');
            });
            // 关闭模态框
            $('#exampleModalChange').modal('hide');
        });
        // 初始化表格
        $('#tb_departments').bootstrapTable({
            columns: [
                {
                    field: 'state',
                    checkbox: true,
                },
                {
                    field: 'id',
                    title: 'ID',
                },
                {
                    field: 'username',
                    title: 'username',
                },
                // 其他列...
            ],
            // 其他配置...
        });

        // 为批量删除按钮添加点击事件
        $('#btn_delete').click(function () {
            var selectedRows = $('#tb_departments').bootstrapTable('getSelections');
            if (selectedRows.length == 0) {
                $.notify({message: "请至少选择一行"}, {type: 'warning', delay: 1000, placement: {align: 'center'}});
                return;
            }
            var selectedIds = [];

            // 遍历所有选中的行，并收集它们的ID值
            $.each(selectedRows, function (index, row) {
                selectedIds.push(row.id);
            });
            // 输出选中的ID值
            // console.log(selectedIds);
            // 发送 AJAX 请求
            fetch('/gradelevel/delete', {
                method: 'POST',
                body: JSON.stringify({ids: selectedIds}),
                headers: {'Content-Type': 'application/json;charset=UTF-8'}
            })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        // 成功删除后，从表格中移除对应的条目
                        $('#tb_departments').bootstrapTable('remove', {
                            field: 'id',
                            values: selectedIds
                        });
                        notice(data.message, 'success');

                    } else {
                        // 显示错误消息
                        notice(data.message, 'error');
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        });
    });

    // 操作按钮
    function btnHandle() {
        let html =
            '<a href="#!" class="btn btn-xs btn-default m-r-5 edit-btn" title="编辑" data-toggle="tooltip"><i class="mdi mdi-pencil"></i></a>' +
            '<a href="#!" class="btn btn-xs btn-default del-btn" title="删除" data-toggle="tooltip"><i class="mdi mdi-window-close"></i></a>';
        return html;
    }

    // 操作方法 - 编辑条目弹出框
    function editRole(row) {

        // 填充模态框中的表单
        $('#exampleModalEdit #exampleModalEditTitle').text('编辑条目');
        $('#exampleModalEdit #edit-number').val(row.number);
        $('#exampleModalEdit #edit-name').val(row.name);
        $('#exampleModalEdit #edit-min').val(row.min_score);
        $('#exampleModalEdit #edit-max').val(row.max_score);
        // 存储当前行的 id
        var currentRowId = row.id;
        // 显示模态框
        $('#exampleModalEdit').modal('show');

        // 将 id 作为数据附加到保存按钮上
        $('#btn-edit-save').data('current-row-id', currentRowId);
    }

    // 编辑角色保存
    $('#btn-edit-save').click(function () {
        // 从按钮数据中获取当前行的 id
        var currentRowId = $(this).data('current-row-id');
        var number = $('#exampleModalEdit #edit-number').val();
        var name = $('#exampleModalEdit #edit-name').val();
        var min_score = $('#exampleModalEdit #edit-min').val();
        var max_score = $('#exampleModalEdit #edit-max').val();
        sendPostRequest('/gradelevel/update', {
            id: currentRowId,
            number: number,
            name: name,
            min_score: parseInt(min_score),
            max_score: parseInt(max_score),
        }, function (data) {
            if (data.success) {
                notice(data.message, 'success');
                // 前端更新表格数据，添加该条目（仅仅是前端更新）
                $('#tb_departments').bootstrapTable('updateByUniqueId', {
                    // index: currentRowId - 1, // 使用 id 获取行索引
                    id: currentRowId,
                    row: {
                        id: currentRowId, // 使用获取到的 id
                        number: number,
                        name: name,
                        min_score: min_score,
                        max_score: max_score,
                    }
                });
            } else {
                notice(data.message, 'danger');

            }
        }, function (error) {
            console.error('Error:', error);
            notice('服务端错误', 'danger');

        });
        // 提交后关闭模态框
        $('#exampleModalEdit').modal('hide');
    });

    // 操作方法 - 删除单个条目
    function deleteRole(row) {
        var selectedRows = $('#tb_departments').bootstrapTable('getSelections');
        if (selectedRows.length !== 1) {
            notice("请先选中该行", 'warning');
            return;
        }
        var rowId = selectedRows[0].id;
        // 确认是否删除
        $.confirm({
            title: '操作确认',
            escapeKey: true,
            content: '确定要删除此条目吗？<br>注：如果成绩表中有对应的成绩分级，会删除失败',
            backgroundDismiss: true,
            buttons: {
                okay: {
                    text: '确认',
                    keys: ['enter'],
                    btnClass: 'btn-blue',
                    action: function () {
                        // 发送 DELETE 请求到后端
                        sendPostRequest('/gradelevel/delete', {id: rowId}, function (data) {
                            if (data.success) {
                                // 成功删除后，从表格中移除对应的条目
                                $('#tb_departments').bootstrapTable('remove', {
                                    field: 'id',
                                    values: [rowId]
                                });
                                notice(data.message, 'success');
                            } else {
                                notice(data.message, 'danger');
                            }
                        }, function (error) {
                            console.error('Error:', error);
                            notice(error.statusMessage, 'danger');
                        });
                    }
                },
                cancel: {
                    text: '取消',
                    keys: ['ctrl', 'shift'],
                    action: function () {
                        return;
                    }
                }
            },
        });

    }

    function accessControl() {
        const role = localStorage.getItem('role');

        if (role === '1') {
            // 如果 role 等于 '1'，显示按钮
            document.getElementById('btn_add').style.display = 'inline-block';
            document.getElementById('btn_delete').style.display = 'inline-block';
        } else {
            // 隐藏“操作”列
            $('#tb_departments').bootstrapTable('hideColumn', 'operate');
        }
    }

    // 页面加载时调用 accessControl 函数
    $(document).ready(function () {
        accessControl();
    });
</script>
</body>
</html>